<div ng-controller="appsoalCtrl">
    <div class="title-head">
        <h1><b>Data Master Soal</b></h1>
    </div>
    <div class="container-fluid">
        <div class="panel panel-default" style="margin-bottom: 30px;" ng-show="is_edit">
            <div class="wrapper-sm">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        {{formtitle}} 
                        <div class="btn-group pull-right" role="group" style="margin-top: -6px;">
                            <button type="submit" class="btn btn-default"  ng-click="kembali()"><i class="glyphicon glyphicon-menu-left"></i>&nbsp; Kembali ke Bank Soal</button>
                            <button type="submit" class="btn btn-primary" ng-click="save(form, detSoal)">Simpan Soal</button>
                        </div> 
                    </div>
                    <div class="panel-body">
                        <form name="landaform" class="form-horizontal form-validation">
                            <div class="col-md-12 col-sm-12">
                                <div class="form-group" ng-if="type_soal == 1 || type_soal == 3">
                                    <label class="col-sm-2 control-label">Type Soal</label>
                                    <div class="col-sm-10">
                                        <div class="btn-group m-r">
                                            <label btn-radio="'1'" class="btn btn-default" ng-model="form.type_soal" ng-if="type_soal == 1">
                                                Pilihan Ganda
                                            </label>
                                            <label btn-radio="'2'" class="btn btn-default" ng-model="form.type_soal" ng-if="type_soal == 2">
                                                Essay
                                            </label>
                                            <label btn-radio="'3'" class="btn btn-default" ng-model="form.type_soal" ng-if="type_soal == 1">
                                                Soal Cerita
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Nomor Soal</label>
                                    <div class="col-sm-10">
                                        <button  ng-repeat="val in listnomor" ng-click="update(val)" class="btn {{val.cssstyle}}" style="margin: 2px;" >{{val.no}}</button>
                                        <button  ng-click="create()" class="btn {{form.css}}" style="margin: 2px;" >+</button>
                                        <div class="clearfix"></div>
                                        <div class="btn-group" role="group" style="margin: 5px 0;">
                                            <a href="../file/format-cbt-soal.xls" class="btn btn-info" ng-if="form.type_soal == 1"><i class="glyphicon glyphicon-download"></i>&nbsp;Download Format</a>
                                            <button type="button" class="btn btn-warning"type="file" ngf-select="uploadFiles($file, $invalidFiles)" accept=".xls" ng-if="form.type_soal == 1"><i class="glyphicon glyphicon-import"></i>&nbsp;Import Soal</button>
                                            <button type="button" class="btn btn-success" ng-click="export()" ng-if="form.type_soal == 1"><i class="glyphicon glyphicon-export"></i>&nbsp;Export Excel</button>
                                            <button type="button" class="btn btn-danger" ng-click="delete(form.id, detSoal, form.id_soal_cerita)" ng-if="form.id != null"><i class="glyphicon glyphicon-trash"></i>&nbsp;Hapus Soal</button>
                                        </div> 
                                    </div>
                                </div>
                                <!--from judul-->

                                <!--SOAL SINGEL ANSWER BIASA-->
                                <div ng-if="form.type_soal != 3">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Pertanyaan</label>
                                        <div class="col-sm-10">
                                            <textarea ckeditor="editorOptions"  ng-model="form.pertanyaan" ></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group" ng-if="type_soal == 2">
                                        <label class="col-sm-2 control-label">Jawaban</label>
                                        <div class="col-sm-10">
                                            <textarea ckeditor="editorOptions"  ng-model="form.jawaban" ></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group" ng-if="type_soal == 1">
                                        <label class="col-sm-2 control-label">Jawaban</label>
                                        <div class="col-sm-10" style="padding: 0px 30px;">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <span class="input-group-addon" ng-if="type_soal == 1">
                                                        <input type="radio" ng-model="form.jawaban" value="a">
                                                    </span>
                                                    <span class="input-group-addon ">A</span>
                                                    <textarea ckeditor="editorOptionsJawaban"  ng-model="form.jawaban_a" ></textarea>
                                                    <!--                                                    <input type="text" class="form-control" ng-model="form.jawaban_a">-->
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <span class="input-group-addon" ng-if="type_soal == 1">
                                                        <input type="radio" ng-model="form.jawaban" value="b">
                                                    </span>
                                                    <span class="input-group-addon">B</span>
                                                    <textarea ckeditor="editorOptionsJawaban"  ng-model="form.jawaban_b" ></textarea>
                                                    <!--<input type="text" class="form-control" ng-model="form.jawaban_b">-->
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <span class="input-group-addon" ng-if="type_soal == 1">
                                                        <input type="radio" ng-model="form.jawaban" value="c">
                                                    </span>
                                                    <span class="input-group-addon">C</span>
                                                    <textarea ckeditor="editorOptionsJawaban"  ng-model="form.jawaban_c" ></textarea>
                                                    <!--<input type="text" class="form-control" ng-model="form.jawaban_c">-->
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <span class="input-group-addon" ng-if="type_soal == 1">
                                                        <input type="radio" ng-model="form.jawaban" value="d">
                                                    </span>
                                                    <span class="input-group-addon">D</span>
                                                    <textarea ckeditor="editorOptionsJawaban"  ng-model="form.jawaban_d" ></textarea>
                                                    <!--<input type="text" class="form-control" ng-model="form.jawaban_d">-->
                                                </div>
                                            </div>
                                            <div class="form-group" ng-if="type_jawaban == 'e'">
                                                <div class="input-group">
                                                    <span class="input-group-addon" ng-if="type_soal == 1">
                                                        <input type="radio" ng-model="form.jawaban" value="e">
                                                    </span>
                                                    <span class="input-group-addon ">E</span>
                                                    <textarea ckeditor="editorOptionsJawaban"  ng-model="form.jawaban_e" ></textarea>
                                                    <!--<input type="text" class="form-control" ng-model="form.jawaban_e">-->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--SOAL SINGEL ANSWER BIASA-->

                                <!--SOAL SINGLE ANSWER SOAL CERITA-->
                                <div ng-if="form.type_soal == 3">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Cerita</label>
                                        <div class="col-sm-10">
                                            <textarea ckeditor="editorOptions"  ng-model="form.soal_cerita" ></textarea>
                                        </div>
                                    </div>
                                </div>
                                <hr/>
                                <div ng-if="form.type_soal == 3" style="padding-top: 10px" >
                                    <div style="border: 1px solid #eeeeee;padding: 5px;margin-bottom: 10px;" ng-repeat="detail in detSoal">
                                        <div class="form-group">
                                            <div class="col-sm-1">
                                                <button ng-click="removeRow($index, detail.id, detail.id_soal_cerita, form.id)" class="btn btn-danger" ><i class="glyphicon glyphicon-trash"></i> Hapus</button>
                                            </div>
                                            <label class="col-sm-1 control-label">Pertanyaan</label>
                                            <div class="col-sm-10">
                                                <textarea ckeditor="editorOptions"  ng-model="detail.pertanyaan" ></textarea>
                                            </div>
                                        </div>
                                        <div class="form-group" ng-if="cara_penilaian != 2 || form.type_soal != 3">
                                            <label class="col-sm-1 col-sm-offset-1 control-label">Jawaban</label>
                                            <div class="col-sm-10" style="padding: 0px 30px;">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <span class="input-group-addon" >
                                                            <input type="radio" ng-model="detail.jawaban" value="a">
                                                        </span>
                                                        <span class="input-group-addon ">A</span>
                                                        <textarea ckeditor="editorOptionsJawaban"  ng-model="detail.jawaban_a" ></textarea>
                                                        <!--<input type="text" class="form-control" ng-model="detail.jawaban_a">-->
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <span class="input-group-addon" >
                                                            <input type="radio" ng-model="detail.jawaban" value="b">
                                                        </span>
                                                        <span class="input-group-addon">B</span>
                                                        <textarea ckeditor="editorOptionsJawaban"  ng-model="detail.jawaban_b" ></textarea>
                                                        <!--<input type="text" class="form-control" ng-model="detail.jawaban_b">-->
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <span class="input-group-addon" >
                                                            <input type="radio" ng-model="detail.jawaban" value="c">
                                                        </span>
                                                        <span class="input-group-addon">C</span>
                                                        <textarea ckeditor="editorOptionsJawaban"  ng-model="detail.jawaban_c" ></textarea>
                                                        <!--<input type="text" class="form-control" ng-model="detail.jawaban_c">-->
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <span class="input-group-addon" >
                                                            <input type="radio" ng-model="detail.jawaban" value="d">
                                                        </span>
                                                        <span class="input-group-addon">D</span>
                                                        <textarea ckeditor="editorOptionsJawaban"  ng-model="detail.jawaban_d" ></textarea>
                                                        <!--<input type="text" class="form-control" ng-model="detail.jawaban_d">-->
                                                    </div>
                                                </div>
                                                <div class="form-group" ng-if="type_jawaban == 'e'">
                                                    <div class="input-group">
                                                        <span class="input-group-addon" >
                                                            <input type="radio" ng-model="detail.jawaban" value="e">
                                                        </span>
                                                        <span class="input-group-addon ">E</span>
                                                        <textarea ckeditor="editorOptionsJawaban"  ng-model="detail.jawaban_e" ></textarea>
                                                        <!--<input type="text" class="form-control" ng-model="detail.jawaban_e">-->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div style="padding-bottom: 10px;text-align: center">
                                        <button ng-click="addDetail(detSoal.length)" class="btn btn-success "><i class="glyphicon glyphicon-plus"></i> Tambah Soal</button>
                                    </div>
                                </div>
                                <!--SOAL SINGLE ANSWER SOAL CERITA-->
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>