<div ng-controller="appkelompokCtrl">
    <div class="title-head">
        <h1>Data Master - Kelas</h1>
    </div>
    <div class="container-fluid">
        <div class="panel panel-default">
            <div class="wrapper-sm" ng-show="!is_edit">
                <div class="panel panel-default" st-pipe="callServer" st-table="displayed">
                    <div class="panel-heading">
                        <button class="btn btn-default btn-xs" ng-init="isCollapsed = true" ng-click="isCollapsed = !isCollapsed">Pencarian</button>
                        <div class="btn-group pull-right" role="group" style="margin-top: -5px;">
                            <button type="button" class="btn btn-primary" ng-click="create();"><i class="glyphicon glyphicon-plus"></i>&nbsp;Tambah Data</button>
                        </div> 
                    </div>
                    <div collapse="isCollapsed" class="panel-body collapse" style="height: 0px;">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Nama</label>
                                <div class="col-sm-6">
                                    <input st-search="nama" class="form-control"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-striped table-hover" >
                            <thead>
                                <tr>
                                    <th st-sort="nama" style="text-align: left">Nama Kelas</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody ng-show="!isLoading">
                                <tr ng-repeat="row in displayed" ng-dblclick="view(row)">
                                    <td>{{row.nama}}</td>

                                    <!--<td>{{row.created_at * 1000| date:'medium'}}</td>-->
                                    <td>
                                        <div class="btn-group pull-right" role="group" style="margin-top: -3px;">
                                            <button type="button" class="btn btn-info glyphicon glyphicon-pencil btn-sm" ng-click="update(row)"></button>
                                            <button type="button" class="btn btn-danger glyphicon glyphicon-trash btn-sm" ng-click="delete(row);"></button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                            <tbody ng-show="isLoading">
                                <tr>
                                    <td colspan="5" class="text-center">Loading ... </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="5" class="text-center" st-pagination="" st-items-by-page="10" st-template="tpl/blocks/pagination.custom.html">
                                    </td>
                                </tr>
                            </tfoot>
                        </table>		
                    </div>
                </div>
            </div>

            <!--FORM-->

            <div class="wrapper-sm" ng-show="is_edit">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        {{formtitle}} 
                        <div class="btn-group pull-right" role="group" style="margin-top: -8px;">
                            <button type="submit" class="btn btn-default" ng-click="cancel()"><i class="glyphicon glyphicon-arrow-left"></i>&nbsp;Kembali</button>
                            <button type="submit" class="btn btn-primary" ng-hide="is_view" ng-click="save(form)"><i class="glyphicon glyphicon-save"></i>&nbsp;Simpan</button>
                        </div> 
                    </div>
                    <div class="panel-body">
                        <form name="landaform" class="form-horizontal form-validation">
                            <div class="col-md-12 col-sm-12">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Nama Kelas</label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" ng-model="form.nama" ng-disabled="is_view" required>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>