<div ng-controller="ujianCtrl">
    {{form.nama}}
    <button ng-click="selesai()" class="btn btn-danger pull-right" style="margin-right: 5px"><span class="glyphicon glyphicon glyphicon-check"></span> SELESAI</button>
</div>
