<div class="container img-rounded" ng-controller="siteCtrl" style='border: 2px solid #ddd;padding:20px;width:280px;margin-top: 50px;background-color: white'>
    <div class="m-b-lg">
        <div class="wrapper text-center" style="margin-bottom: 20px">
            <!--<h1>LOGO</h1>-->
                <img src="../app/img/logo/logo.png" class="img-logo" style="width: 100%" />
            <br class="clearfix"/>
            <!--<h2 style="font-weight: bold">{{desk.nama}}</h2>-->
        </div>
        <form name="form" class="form-validation">
            <div class="text-danger wrapper text-center" ng-show="authError">
                {{authError}}
            </div>
            <div class="list-group list-group-sm">
                <div class="list-group-item">
                    <input type="text" placeholder="Username" class="form-control no-border" ng-model="form.username" required>
                </div>
                <div class="list-group-item">
                    <input type="password" placeholder="Password" class="form-control no-border" ng-model="form.password" required>
                </div>
            </div>
            <button  type="submit" class="btn btn-primary btn-block" ng-click="login(form)" ng-disabled='form.$invalid'>Log in</button>
            <div class="text-center" style="margin-top: 5px">
                <small class="text-muted"><a>CBT SMP Plus Al-Kautsar  </a> versi 1 @ 2018</small>
            </div>
        </form>
    </div>
</div>
