<div ng-controller="pesertaCtrl">
    <div class="title-head">
        <h1>Data Master - Siswa</h1>
    </div>
    <div class="container-fluid">
        <div class="panel panel-default">
            <div class="wrapper-sm" ng-show="!is_edit">
                <div class="panel panel-default" st-pipe="callServer" st-table="displayed">
                    <div class="panel-heading">
                        <button class="btn btn-default btn-xs" ng-init="isCollapsed = true" ng-click="isCollapsed = !isCollapsed">Pencarian</button>
                        <div class="btn-group pull-right" role="group" style="margin-top: -5px;">
<!--                            <button type="button" class="btn btn-success" ng-click="exportexcel()"><i class="glyphicon glyphicon-export"></i>&nbsp;Export Excel</button>
                            <button class="btn btn-warning"  type="file" ngf-select="uploadFiles($file, $invalidFiles)" accept=".xls">
                                    <i class="glyphicon glyphicon-import">
                                    </i>
                                    Import
                                </button>-->
                            <a href="../file/format_import_siswa.xlsx" class="btn btn-warning"><i class="glyphicon glyphicon-download"></i> Download Format Import Peserta</a>
                            <button class="btn btn-success" ng-click="import()"><i class="glyphicon glyphicon-import"></i> Import Peserta</button>
                            <button type="button" class="btn btn-primary" ng-click="create();"><i class="glyphicon glyphicon-plus"></i>&nbsp;Tambah Data</button>
                        </div> 
                    </div>
                    <div collapse="isCollapsed" class="panel-body collapse" style="height: 0px;">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Nama</label>
                                <div class="col-sm-3">
                                    <input st-search="nama" class="form-control"/>
                                </div>
                                <label class="col-sm-2 control-label">Nomor Ujian</label>
                                <div class="col-sm-3">
                                    <input st-search="no_ujian" class="form-control angka"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">NIS</label>
                                <div class="col-sm-3">
                                    <input st-search="NIS" class="form-control angka"/>
                                </div>
                                <label class="col-sm-2 control-label">jenis Kelamin</label>
                                <div class="col-sm-3">
                                    <select class="form-control" st-search="j_kelamin">
                                        <option value="">Semua</option>
                                        <option value="L">Laki Laki</option>
                                        <option value="P">Perempuan</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Kelas</label>
                                <div class="col-sm-3">
                                    <input st-search="m_kelompok.nama" class="form-control"/>
                                </div>
                              
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-striped table-hover" >
                            <thead>
                                <tr>
                                    <th style="text-align: left;">Nama</th>
                                    <th style="text-align: left;">Kelas</th>
                                    <th style="text-align: left;">NIS</th>
                                    <th style="text-align: left;">Nomor Ujian</th>
                                    <th style="text-align: left;">Jenis Kelamin</th>
                                    <th style="text-align: left;">Tempat Lahir</th>
                                    <th style="text-align: left;">Tanggal Lahir</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody ng-show="!isLoading">
                                <tr ng-repeat="row in displayed" ng-dblclick="view(row)">
                                    <td>{{row.nama}}</td>
                                    <td>{{row.namaKelas}}</td>
                                    <td>{{row.NIS}}</td>
                                    <td>{{row.no_ujian}}</td>
                                    <td>
                                        <span ng-if="row.j_kelamin == 'L'">Laki - Laki</span>
                                        <span ng-if="row.j_kelamin == 'P'">Perempuan</span>
                                    </td>
                                    <td>{{row.tempat_lahir}}</td>
                                    <td>{{row.tanggal_lahir | date:'longDate'}}</td>
                                    <td>
                                        <div class="btn-group pull-right" role="group" style="margin-top: -3px;">
                                            <button type="button" class="btn btn-info glyphicon glyphicon-pencil " ng-click="update(row)"></button>
                                            <button type="button" class="btn btn-danger glyphicon glyphicon-trash" ng-click="delete(row);"></button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                            <tbody ng-show="isLoading">
                                <tr>
                                    <td colspan="8" class="text-center">Loading ... </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="8" class="text-center" st-pagination="" st-items-by-page="10" st-template="tpl/blocks/pagination.custom.html">
                                    </td>
                                </tr>
                            </tfoot>
                        </table>		
                    </div>
                </div>
            </div>

            <!--FORM-->

            <div class="wrapper-sm" ng-show="is_edit">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        {{formtitle}} 
                        <div class="btn-group pull-right" role="group" style="margin-top: -8px;">
                            <button type="submit" class="btn btn-default" ng-click="cancel()"><i class="glyphicon glyphicon-arrow-left"></i>&nbsp;Kembali</button>
                            <button type="submit" class="btn btn-primary" ng-hide="is_view" ng-click="save(form)"><i class="glyphicon glyphicon-save"></i>&nbsp;Simpan</button>
                        </div> 
                    </div>
                    <div class="panel-body">
                        <form name="landaform" class="form-horizontal form-validation " novalidate="">
                            <div class="col-md-6 col-sm-12">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Kelas</label>
                                    <div class="col-sm-8">
                                        <select class="form-control" ng-model="form.id_kelompok">
                                            <option value="">- Pilih Kelas -</option>
                                            <option ng-repeat="val in kelas" value="{{val.id}}">{{val.nama}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">NIS</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control angka" ng-model="form.NIS" ng-disabled="is_view" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Nomor Ujian</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control angka" ng-model="form.no_ujian" ng-disabled="is_view" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Nama</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" ng-model="form.nama" ng-disabled="is_view" required>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <div class="form-group">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Jenis Kelamin</label>
                                        <div class="col-sm-8">
                                            <div class="btn-group m-r">
                                                <select class="form-control" ng-model="form.j_kelamin" ng-disabled="is_view" >
                                                    <option value="">-Pilih Jenis Kelamin -</option>
                                                    <option value="L">Laki Laki</option>
                                                    <option value="P">Perempuan</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Tempat Lahir</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" ng-model="form.tempat_lahir" ng-disabled="is_view" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Tanggal Lahir</label>
                                        <div class="col-sm-8">
                                            <div class="input-group">
                                                <input type="text"  style="height: 30px;" class="form-control" datepicker-popup="dd-MM-yyyy" ng-disabled="is_view" ng-model="form.tanggal_lahir" is-open="opened1" ng-click="open1($event);"/>
                                                <span class="input-group-addon">
                                                    <i class="glyphicon glyphicon-calendar"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>	
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
