<div class="modal-header">
    <div class="row">
        <div class="col-xs-9">
            <div class="modal-title">
                <h3>Import Siswa</b></h3>
            </div>
        </div>
        <div class="col-xs-3" align="right">
            <button ng-click="close()" title="Cancel" class="btn btn-rounded btn btn-icon btn-default"><i
                    class="glyphicon glyphicon-remove"></i></button>
        </div>
    </div>
</div>
<div class="modal-body">
    <div class="row">
        <form name="landaform" class="form-horizontal form-validation " novalidate="">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="col-sm-1 control-label">Kelas</label>
                    <div class="col-sm-3">
                        <select class="form-control" ng-model="form.id_kelompok">
                            <option value="">- Pilih Kelas -</option>
                            <option ng-repeat="val in kelas" value="{{val.id}}">{{val.nama}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-1 control-label">File Excel</label>
                    <div class="col-sm-3">
                        <input ng-disabled="form.id_kelompok == undefine" type="file"
                               ngf-select="uploadFiles($file, $invalidFiles)" accept=".xls,.xlsx"/>
                    </div>
                </div>
            </div>
        </form>

        <div class="col-sm-12">
            <hr style="margin: 10px -15px"/>
        </div>
        <div class="col-sm-12" ng-if="data_siswa != undefine">
            <table class="table table-bordered">
                <tr>
                    <th style="width: 40px;" class="text-center">No.</th>
                    <th>NIS</th>
                    <th>Nomor Ujian</th>
                    <th>Nama</th>
                    <th>Jenis Kelamin</th>
                    <th>Tanggal Lahir</th>

                </tr>
                <tr ng-repeat="val in data_siswa">
                    <td class="text-center">{{$index+1}}</td>
                    <td>{{val.NIS}}</td>
                    <td>{{val.no_ujian}}</td>
                    <td>{{val.nama}}</td>
                    <td>
                        <span ng-if="val.j_kelamin == 'P'">Perempuan</span>
                        <span ng-if="val.j_kelamin == 'L'">Laki - Laki</span>
                    </td>
                    <td>{{val.tempat_lahir}}, {{val.tanggal_lahir}}</td>
                </tr>
            </table>
        </div>
    </div>

</div>
<div class="modal-footer" ng-if="data_siswa != undefine">
    <button class="btn btn-success pull-right" ng-click="save(data_siswa)">Simpan Data Siswa</button>
</div>
<!--<div class="modal-footer">                  
    <button class="btn btn-danger" ng-click="selesai_ujian()" >AKHIRI UJIAN</button>
</div>-->
