<div ng-controller="anabutCtrl">
    <div class="title-head" ng-hide="is_live">
        <h1>Transaksi Analis Butir Soal</h1>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default " ng-hide="is_live">
                    <div class="panel-heading">
                        Filter Transaksi Analis Butir Soal
                    </div>
                    <div class="panel-body">
                        <form class="form-horizontal form-validation " name="landaform">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">
                                    Nama Materi
                                </label>
                                <div class="col-sm-9">
                                    <ui-select  ng-disabled="is_view"  ng-model="form.materi" theme="bootstrap">
                                        <ui-select-match placeholder="- Pilih Nama Materi -">{{$select.selected.tahun}} - {{$select.selected.nama_kelompok}} - {{$select.selected.nama_materi}}
                                            (
                                            <span ng-if="$select.selected.cara_penilaian == 0">Skala</span>
                                            <span ng-if="$select.selected.cara_penilaian == 1">Single Answer</span>
                                            <span ng-if="$select.selected.cara_penilaian == 2">Essay</span>
                                            )
                                        </ui-select-match>
                                        <ui-select-choices repeat="val in materi | filter : $select.search" >
                                            {{val.tahun}} - {{val.nama_kelompok}} - {{val.nama_materi}} 
                                            (
                                            <span ng-if="val.cara_penilaian == 0">Skala</span>
                                            <span ng-if="val.cara_penilaian == 1">Single Answer</span>
                                            <span ng-if="val.cara_penilaian == 2">Essay</span>
                                            )
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group" style="margin-top: 25px; text-align: center;">
                                        <button class="btn btn-warning fa fa-file-excel-o" ng-click="exportDataPPDB()" ng-disabled="!tampilkan" type="button">
                                            <i class="glyphicon glyphicon-export"></i> Export ke PPDB
                                        </button>
                                        <button class="btn btn-success fa fa-file-excel-o" ng-click="exportData()" ng-disabled="!tampilkan" type="button">
                                            <i class="glyphicon glyphicon-export"></i> Export Excel
                                        </button>
                                        <button class="btn btn-info fa fa-file-excel-o" ng-click="printDiv('laporan')" ng-disabled="!tampilkan" type="button">
                                            <i class="glyphicon glyphicon-print"></i> Print
                                        </button>
                                        <button class="btn btn-primary fa fa-search" ng-click="view(form.materi)" ng-disabled="landaform.$invalid" type="submit">
                                            <i class="glyphicon glyphicon-eye-open"></i> Tampilkan
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default" ng-show="tampilkan" style="margin-top: 20px;" id="laporan">
            <div class="panel-body">
                <div align="left">
                    <img src="img/logo/{{desk.foto}}" class="img-logo" style="padding:0px 20px;width:90px;float: left"/>
                    <center>
                        <h2>ANALIS BUTIR SOAL</h2>
                        <h3>{{keterangan.nama_materi}} {{keterangan.nama_kelompok}} Tahun {{keterangan.tahun}}</h3>
                        <h4 >{{desk.nama}}</h4><br/>
                    </center>
                    <div class="table-responsive" style="margin-top: 10px;" ng-repeat="val in anabut">
                        {{val.nama_ujian}}
                        <table class="table table-striped table-hover table-bordered" border="1">
                            <thead>
                                <tr>
                                    <th colspan="3" rowspan="2">Kunci Jawaban</th>
                                    <th></th>
                                    <th ng-repeat="val2 in val.soal.listSoal">{{val2.no}}</th>
                                </tr>
                                <tr>
                                    <th>L/P</th>
                                    <th ng-repeat="val3 in val.soal.listSoal">{{val3.jawaban}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="val4 in val.peserta">
                                    <td style="text-align: center">
                                        {{$index + 1}}
                                    </td>
                                    <td style="text-align: left">
                                        {{val4.no_ujian}}
                                    </td>
                                    <td>
                                        {{val4.nama}}
                                    </td>
                                    <td class="text-center">
                                        {{val4.j_kelamin}}
                                    </td>
                                    <td class="text-center" ng-repeat="val5 in val4.listJawaban">
                                        <span ng-if="val5.jawaban_pilih == val5.jawaban">1</span>
                                        <span ng-if="val5.jawaban_pilih != val5.jawaban">0</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3" class="text-center">Benar</td>
                                    <td></td>
                                    <td ng-repeat="val6 in val.soal.listSoal" class="text-center">{{val6.benar}}</td>
                                </tr>
                                <tr>
                                    <td colspan="3" class="text-center">Salah</td>
                                    <td></td>
                                    <td ng-repeat="val7 in val.soal.listSoal" class="text-center">{{val7.salah}}</td>
                                </tr>
                                <tr>
                                    <td colspan="3" class="text-center">% Benar</td>
                                    <td></td>
                                    <td ng-repeat="val8 in val.soal.listSoal" class="text-center">{{val8.persenBenar}} %</td>
                                </tr>
                                <tr>
                                    <td colspan="3" class="text-center">% Salah</td>
                                    <td></td>
                                    <td ng-repeat="val9 in val.soal.listSoal" class="text-center">{{val9.persenSalah}} %</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
