<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button aria-controls="navbar" aria-expanded="false" class="navbar-toggle collapsed" data-target="#navbar" data-toggle="collapse" type="button">
                <span class="sr-only">
                    Toggle navigation
                </span>
                <span class="icon-bar">
                </span>
                <span class="icon-bar">
                </span>
                <span class="icon-bar">
                </span>
            </button>
            <a class="navbar-brand" ui-sref="site.dashboard">
                UJIAN CBT
            </a>
        </div>
        <div class="navbar-collapse collapse" id="navbar">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" href="#" role="button">
                        <i class="glyphicon glyphicon-th-large icon text-info-lter">
                        </i>
                        Master
                        <span class="caret">
                        </span>
                    </a>
                    <ul class="dropdown-menu" >
                        <li>
                            <a ui-sref="master.user">
                                <i class="glyphicon glyphicon-menu-right"></i>
                                User
                            </a>
                        </li>
                        <li>
                        <li>
                            <a ui-sref="master.peserta">
                                <i class="glyphicon glyphicon-menu-right"></i>
                                Peserta
                            </a>
                        </li>
                        <li>
                            <a ui-sref="master.kelompok">
                                <i class="glyphicon glyphicon-menu-right"></i>
                                Kelompok
                            </a>
                        </li>
                        <li>
                            <a ui-sref="master.materi">
                                <i class="glyphicon glyphicon-menu-right"></i>
                                Materi
                            </a>
                        </li>
                        <!--                        <li>
                                                    <a ui-sref="master.ujian">
                                                        <i class="glyphicon glyphicon-menu-right"></i>
                                                        Jadwal Ujian
                                                    </a>
                                                </li>-->

                    </ul>
                </li>
                <li>
                    <a ui-sref="master.ujian">
                        <i class="glyphicon glyphicon-calendar icon text-info-lter"></i>
                        Jadwal Ujian
                    </a>
                </li>
                <li>
                    <a ui-sref="laporan.hasilujian">
                        <i class="glyphicon glyphicon-print icon text-info-lter"></i>
                        Laporan Hasil Ujian
                    </a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" href="#" role="button">
                        <img class="img-circle" src="img/user.jpg" style="height: 20px;border: 1px solid rgba(255, 255, 255, .15);">
                        {{user.nama}}
                        <span class="caret">
                        </span>
                        </img>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a ui-sref="master.penggunaprofile">
                                <span class="glyphicon glyphicon-user">
                                </span>
                                Profile
                            </a>
                        </li>
                        <li>
                            <a href="#" ng-click="logout()">
                                <span class="glyphicon glyphicon-off">
                                </span>
                                Logout
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
