<div ng-controller="hasilStanCtrl">
    <div class="title-head" ng-hide="is_live">
        <h1>Data Laporan - Hasil Ujian STAN</h1>
    </div>
    <div class="container-fluid">
        <div class="panel panel-default" ng-hide="is_live">
            <div class="panel-heading">
                Filter Hasil Ujian STAN
            </div>
            <div class="panel-body">
                <form class="form-horizontal form-validation " name="landaform">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">
                                    Kode Ujian
                                </label>
                                <div class="col-sm-6">
                                    <ui-select ng-disabled="is_view" ng-model="form.kode_ujian" theme="bootstrap"
                                               required>
                                        <ui-select-match placeholder="Kode Ujian - Nama Ujian">
                                            {{$select.selected.kode_ujian}}
                                        </ui-select-match>
                                        <ui-select-choices repeat="val in kode_ujian | filter : $select.search">
                                            {{val.kode_ujian}} - {{val.nama_ujian}}
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group" style="margin-top: 25px; text-align: center;">
                                <!--<button class="btn btn-warning fa fa-file-excel-o" ng-click="exportDataPPDB()" ng-disabled="!tampilkan" type="button">-->
                                <!--<i class="glyphicon glyphicon-export"></i> Export ke PPDB-->
                                <!--</button>-->
                                <button class="btn btn-success fa fa-file-excel-o" ng-click="exportData()"
                                        ng-disabled="!tampilkan" type="button">
                                    <i class="glyphicon glyphicon-export"></i> Export Excel
                                </button>
                                <button class="btn btn-info fa fa-file-excel-o" ng-click="printDiv('laporan')"
                                        ng-disabled="!tampilkan" type="button">
                                    <i class="glyphicon glyphicon-print"></i> Print
                                </button>
                                <button class="btn btn-primary fa fa-search" ng-click="view(form)"
                                        ng-disabled="landaform.$invalid" type="submit">
                                    <i class="glyphicon glyphicon-eye-open"></i> Tampilkan
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!--<div class="panel panel-default" style="margin-top: 20px;" id="laporan">-->
        <div class="panel panel-default" ng-show="tampilkan" style="margin-top: 20px;" id="laporan">

            <div class="panel-body">
                <!--<button class="btn btn-primary" ui-sref="site.dashboard"><i class="glyphicon glyphicon-home"></i>-->
                <!--</button>-->
                <div align="left">
                    <!--<img src="../app/img/logo/{{desk.foto}}" class="img-logo" style="padding:0px 20px;width:70px;float: left"/>-->
                    <center>
                        <h2 style="margin: 0px;">{{desk.nama}}</h2>
                        {{ujian.nama_ujian}} ({{ujian.kode_ujian}})<br/>
                    </center>
                    <!--                    <table class="table" style="margin:0">
                                            <tr>
                                                <td style="text-align: left" colspan="2"><b>Unit Kerja :</b> {{data.unker}}</td>
                                                <td style="text-align: right" colspan="3"><b>Nama Akun :</b> {{data.akun}}</td>
                                            </tr>
                                        </table>-->
                    <div class="table-responsive" style="margin-top: 10px;">
                        <table class="table table-striped table-hover table-bordered" border="1">
                            <thead>
                            <tr>
                                <th width="50" rowspan="2">
                                    <b>
                                        No.
                                    </b>
                                </th>
                                <!--<th>-->
                                <!--<b>-->
                                <!--No. Ujian-->
                                <!--</b>-->
                                <!--</th>-->
                                <th rowspan="2">
                                    <b>
                                        NAMA
                                    </b>
                                </th>
                                <th ng-repeat="val in kolom" colspan="4">
                                    <b>
                                        {{val.nama_materi}}
                                        (
                                        <span ng-if="val.cara_penilaian == 1">Single Answer</span>
                                        <span ng-if="val.cara_penilaian == 2">Essay</span>
                                        )
                                    </b>
                                </th>
                                <th rowspan="2">
                                    <b>
                                        Total
                                    </b>
                                </th>
                                <th rowspan="2">
                                    <b>
                                        Asal Sekolah
                                    </b>
                                </th>
                                <th rowspan="2">
                                    <b>
                                        Keterangan
                                    </b>
                                </th>
                                <th rowspan="2">
                                    <b>
                                        Rangking
                                    </b>
                                </th>
                            </tr>
                            <tr>
                                <th ng-repeat="val in peserta[0].materi_stan">
                                    <b>
                                        {{val.name}}
                                    </b>
                                </th>

                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="val in peserta| orderBy:'-nilai_total'" >
                                <td style="text-align: center">
                                    {{$index + 1}}
                                </td>
                                <!--<td style="text-align: left">-->
                                <!--{{val.no_ujian}}-->
                                <!--</td>-->
                                <td>
                                    {{val.nama}}
                                </td>
                                <td style="text-align: center" ng-repeat="vals in val.materi_stan">
                                    {{vals.subtotal[val.peserta_id]}}
                                    <!--{{val.materi[val_kolom.id].nilai[val.peserta_id]}}-->
                                </td>

                                <td style="text-align: center">
                                    {{val.nilai_total}}
                                </td>
                                <td style="text-align: center">
                                    {{val.asal_sekolah}}
                                </td>
                                <td style="text-align: center">
                                    {{val.passing_grade}}
                                </td>
                                <td class="text-center" ng-init="total+1">
                                    {{$index+1}}
                                </td>
                            </tr>
                            </tbody>

                        </table>
                    </div>

                    <table class="table " ng-hide="is_live">
                        <tr>
                            <td style="border: none;width: 33%">

                            </td>
                            <td style="border: none;width: 33%">

                            </td>
                            <td style="border: none;width: 33%">
                                {{ujian.lokasi_ujian}}, {{date| date:'dd MMMM yyyy'}}
                            </td>
                        </tr>
                        <tr>
                            <td style="width: auto;border: none;">
                                {{ujian.jabatan1}}<br/>
                                {{ujian.jabatan2}}<br/>
                                {{ujian.jabatan3}}<br/><br/><br/><br/>
                                {{ujian.nama_pengesah1}}<br/>
                                {{ujian.nip_pengesah1}}
                            </td>
                            <td style="border: none;">
                                {{ujian.jabatan4}}<br/>
                                {{ujian.jabatan5}}<br/>
                                {{ujian.jabatan6}}<br/><br/><br/><br/>
                                {{ujian.nama_pengesah2}}<br/>
                                {{ujian.nip_pengesah2}}
                            </td>
                            <td style="border: none;">
                                {{ujian.jabatan7}}<br/>
                                {{ujian.jabatan8}}<br/>
                                {{ujian.jabatan9}}<br/><br/><br/><br/>
                                {{ujian.nama_pengesah3}}<br/>
                                {{ujian.nip_pengesah3}}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
