<div ng-controller="appmateriCtrl">
    <div class="title-head">
        <h1><b>Data Bank Soal</b></h1>
    </div>
    <div class="container-fluid">
        <div class="panel panel-default">
            <div class="wrapper-sm" ng-show="!is_edit">
                <div class="panel panel-default" st-pipe="callServer" st-table="displayed">
                    <div class="panel-heading">
                        <button class="btn btn-default btn-xs" ng-init="isCollapsed = true"
                                ng-click="isCollapsed = !isCollapsed">Pencarian
                        </button>
                        <div class="btn-group pull-right" role="group" style="margin-top: -5px;">
                            <button type="button" class="btn btn-primary" ng-click="create();"><i
                                    class="glyphicon glyphicon-plus"></i>&nbsp;Tambah Data
                            </button>
                        </div>
                    </div>
                    <div collapse="isCollapsed" class="panel-body collapse" style="height: 0px;">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Kode</label>
                                <div class="col-sm-4">
                                    <input st-search="m_materi.kode" class="form-control"/>
                                </div>
                                <label class="col-sm-2 control-label">Nama Materi Bank Soal</label>
                                <div class="col-sm-4">
                                    <input st-search="m_materi.nama_materi" class="form-control"/>
                                </div>

                                <label class="col-sm-2 control-label" style="margin-top: 5px">Nama Kelas</label>
                                <div class="col-sm-4" style="margin-top: 5px">
                                    <select class="form-control" st-search="id_kelompok">
                                        <option value="">- Semua Kelas -</option>
                                        <option ng-repeat="val in dataKelas" value="{{val.id}}">{{val.nama}}</option>
                                    </select>
                                </div>
                                <label class="col-sm-2 control-label" style="margin-top: 5px">Tahun</label>
                                <div class="col-sm-4" style="margin-top: 5px">
                                    <input st-search="tahun" class="form-control"/>
                                </div>
                                <label class="col-sm-2 control-label" style="margin-top: 5px">Status Aprove</label>
                                <div class="col-sm-4" style="margin-top: 5px">
                                    <select class="form-control" st-search="is_aprove">
                                        <option value="">- Semua Status -</option>
                                        <option value="1">Sudah</option>
                                        <option value="0">Belum</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-striped table-hover">
                            <thead>
                            <tr>
                                <th style="text-align: left">Kode</th>
                                <th style="text-align: left">Kelas</th>
                                <th style="text-align: left">Nama Materi Bank Soal</th>
                                <th style="text-align: center">Cara Penilaian</th>
                                <th style="text-align: center">Tahun</th>
                                <th style="text-align: center">Action Soal</th>
                                <th style="text-align: center">Dibuat Pada</th>
                                <th style="text-align: center">Dibuat Oleh</th>
                                <th>Approve</th>
                                <th style="text-align: left"></th>

                            </tr>
                            </thead>
                            <tbody ng-show="!isLoading">
                            <tr ng-repeat="row in displayed" ng-dblclick="view(row)">
                                <td>{{row.kode}}</td>
                                <td>{{row.nama}}</td>
                                <td>{{row.nama_materi}}</td>
                                <td style="text-align: center;">
                                    <label class="label label-success" ng-if="row.penilaian == 'Skala'">{{row.penilaian}}</label>
                                    <label class="label label-primary" ng-if="row.penilaian == 'Singel Answer'">{{row.penilaian}}</label>
                                    <label class="label label-info"
                                           ng-if="row.penilaian == 'Essay'">{{row.penilaian}}</label>
                                </td>
                                <td style="text-align: center;">{{row.tahun}}</td>

                                <td style="text-align: center;">
                                    <div class="btn-group" role="group">
                                        <button ui-sref="master.soal({id_materi: {{row.id}},level: 1})"
                                                class="btn btn-warning" title="List Soal">
                                            Mudah <span class="badge">{{row.mudah}}</span>
                                        </button>

                                        <button ui-sref="master.soal({id_materi: {{row.id}},level: 2})"
                                                class="btn btn-primary" type="button">
                                            Sedang <span class="badge">{{row.sedang}}</span>
                                        </button>

                                        <button ui-sref="master.soal({id_materi: {{row.id}},level: 3})"
                                                class="btn btn-danger" type="button">
                                            Sulit <span class="badge">{{row.susah}}</span>
                                        </button>
                                    </div>
                                </td>
                                <td style="text-align: center;">{{row.created_at * 1000| date:'medium'}}</td>
                                <td style="text-align: center;">{{row.dibuat_oleh}}</td>
                                <td class="text-center">
                                    <div class="btn-group m-r" ng-if="user.roles_id == 0">
                                        <label tooltip="Setujui" ng-change="changeAprove(row)" btn-radio="'1'" class="btn btn-default" ng-model="row.is_aprove"
                                               required="">
                                            <i class="fa fa-check"></i>
                                        </label>
                                        <label tooltip="Tolak" ng-change="changeAprove(row)" btn-radio="'0'" class="btn btn-default" ng-model="row.is_aprove"
                                               required="">
                                            <i class="fa fa-close"></i>
                                        </label>
                                    </div>
                                    <div ng-if="user.roles_id == 1">
                                        <span class="label label-success" ng-if="row.is_aprove == 1">Sudah</span>
                                        <span class="label label-danger" ng-if="row.is_aprove == 0">Belum</span>
                                    </div>
                                </td>
                                <td>
                                    <div class="btn-group pull-right" role="group" style="margin-top: -3px;"
                                         ng-if="row.created_by == user.id || user.roles_id == 0">
                                        <button type="button" class="btn btn-info glyphicon glyphicon-pencil"
                                                ng-click="update(row)"></button>
                                        <button type="button" class="btn btn-danger glyphicon glyphicon-trash"
                                                ng-click="delete(row);"></button>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                            <tbody ng-show="isLoading">
                            <tr>
                                <td colspan="10" class="text-center">Loading ...</td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr>
                                <td colspan="10" class="text-center" st-pagination="" st-items-by-page="10"
                                    st-template="tpl/blocks/pagination.custom.html"></td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>

            <!--FORM-->

            <div class="wrapper-sm" ng-show="is_edit">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        {{formtitle}}
                        <div class="btn-group pull-right" role="group" style="margin-top: -8px;">
                            <button type="submit" class="btn btn-default" ng-click="cancel()"><i
                                    class="glyphicon glyphicon-arrow-left"></i>&nbsp;Kembali
                            </button>
                            <button type="submit" class="btn btn-primary" ng-hide="is_view" ng-click="save(form)"><i
                                    class="glyphicon glyphicon-save"></i>&nbsp;Simpan
                            </button>
                        </div>
                    </div>
                    <div class="panel-body">
                        <form name="landaform" class="form-horizontal form-validation">
                            <div class="col-md-6 col-sm-12">
                                <!--from judul-->
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Kode Bank Soal</label>
                                    <div class="col-sm-3">
                                        <input type="text" class="form-control" ng-model="form.kode"
                                               ng-disabled="is_view">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Pilih Kelas</label>
                                    <div class="col-sm-8">
                                        <select class="form-control" ng-model="form.id_kelompok" ng-disabled="is_view">
                                            <option value="">- Pilih Kelas -</option>
                                            <option ng-repeat="val in kelompok" ng-selected="val.id == form.id_kelompok"
                                                    value="{{val.id}}">{{val.nama}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Nama Bank Soal </label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" ng-model="form.nama_materi"
                                               ng-disabled="is_view">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Tahun</label>
                                    <div class="col-sm-8">
                                        <select class="form-control" ng-model="form.tahun" ng-disabled="is_view">
                                            <option value="">- Pilih Tahun -</option>
                                            <option value="{{vals}}" ng-repeat="vals in tahun">{{vals}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Cara Penilaian</label>
                                    <div class="col-sm-8">
                                        <div class="btn-group m-r">
                                            <label btn-radio="'1'" class="btn btn-default"
                                                   ng-model="form.cara_penilaian" required="">
                                                Singel Answer
                                            </label>
                                            <label btn-radio="'2'" class="btn btn-default"
                                                   ng-model="form.cara_penilaian" required="">
                                                Essay
                                            </label>
                                            <!--                                            <label btn-radio="'0'" class="btn btn-default" ng-model="form.cara_penilaian" required="">
                                                                                            Skala
                                                                                        </label>-->
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Type Jawaban</label>
                                    <div class="col-sm-8">
                                        <div class="btn-group m-r">
                                            <label btn-radio="'d'" class="btn btn-default" ng-model="form.type_jawaban"
                                                   required="">
                                                Sampai "D"
                                            </label>
                                            <label btn-radio="'e'" class="btn btn-default" ng-model="form.type_jawaban"
                                                   required="">
                                                Sampain "E"
                                            </label> 
                                        </div>
                                    </div>
                                </div>
                                <!--<div class="form-group">-->
                                    <!--<label class="col-sm-4 control-label">Tipe Penilaian</label>-->
                                    <!--<div class="col-sm-8">-->
                                        <!--<div class="btn-group m-r">-->
                                            <!--<label btn-radio="'reguler'" class="btn btn-default" ng-model="form.type_penilaian"-->
                                                   <!--required="">-->
                                                <!--Reguler-->
                                            <!--</label>-->
                                            <!--<label btn-radio="'intesif_stan'" class="btn btn-default" ng-model="form.type_penilaian"-->
                                                   <!--required="">-->
                                               <!--Intensif STAN-->
                                            <!--</label> -->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <div class="form-group" ng-if="form.cara_penilaian == 1 || form.cara_penilaian == 2">
                                    <div class="col-sm-12">
                                        <p class="alert alert-danger"
                                           style="padding: 3px;max-width: 290px;margin-bottom: 0px"><i>Gunakan <b>titik
                                            "."</b> sebagai koma</i>
                                        <p>
                                    </div>
                                    <label class="col-sm-4 control-label">Nilai Per Jawaban Benar</label>
                                    <div class="col-sm-8">
                                        <div class="input-group">
                                            <span class="input-group-addon">+</span>
                                            <input type="text" class="form-control angka" ng-model="form.nilai_benar"
                                                   ng-disabled="is_view" style="width:40px" maxlength="3">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group" ng-if="form.cara_penilaian == 1 || form.cara_penilaian == 2">
                                    <label class="col-sm-4 control-label">Nilai Per Jawaban Salah</label>
                                    <div class="col-sm-8">
                                        <div class="input-group">
                                            <span class="input-group-addon" style="width: 34px">-</span>
                                            <input type="text" class="form-control angka" ng-model="form.nilai_salah"
                                                   ng-disabled="is_view" style="width:40px" maxlength="3">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group" ng-if="form.cara_penilaian == 0">
                                    <label class="col-sm-4 control-label">Nilai Perjawaban</label>
                                    <div class="col-sm-8">
                                        <div class="col-sm-4" style="padding-left: 0px;">
                                            <div class="input-group">
                                                <span class="input-group-addon" id="basic-addon1">A</span>
                                                <input type="text" class="form-control" ng-model="form.nilai_a"
                                                       aria-describedby="basic-addon1">
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="input-group">
                                                <span class="input-group-addon" id="basic-addon1">B</span>
                                                <input type="text" class="form-control" ng-model="form.nilai_b"
                                                       aria-describedby="basic-addon1">
                                            </div>
                                        </div>
                                        <div class="col-sm-4" style="padding-right: 0px;">
                                            <div class="input-group">
                                                <span class="input-group-addon" id="basic-addon1">C</span>
                                                <input type="text" class="form-control" ng-model="form.nilai_c"
                                                       aria-describedby="basic-addon1">
                                            </div>
                                        </div>
                                        <div class="col-sm-4" style="padding-left: 0px;padding-top: 5px;">
                                            <div class="input-group">
                                                <span class="input-group-addon" id="basic-addon1">D</span>
                                                <input type="text" class="form-control" ng-model="form.nilai_d"
                                                       aria-describedby="basic-addon1">
                                            </div>
                                        </div>
                                        <div class="col-sm-4" style="padding-top: 5px;">
                                            <div class="input-group">
                                                <span class="input-group-addon" id="basic-addon1">E</span>
                                                <input type="text" class="form-control" ng-model="form.nilai_e"
                                                       aria-describedby="basic-addon1">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>