<div ng-controller="appujianCtrl">
    <div class="title-head">
        <h1><b>Data Master Ujian</b></h1>
    </div>
    <div class="container-fluid">
        <div class="panel panel-default">
            <div class="wrapper-sm" ng-show="!is_edit">
                <div class="panel panel-default" st-pipe="callServer" st-table="displayed">
                    <div class="panel-heading">
                        <button class="btn btn-default btn-xs" ng-init="isCollapsed = true"
                                ng-click="isCollapsed = !isCollapsed">Pencarian
                        </button>
                        <div class="btn-group pull-right" role="group" style="margin-top: -5px;">
                            <button type="button" class="btn btn-primary" ng-click="create();" ><i
                                    class="glyphicon glyphicon-plus"></i>&nbsp;Tambah Data
                            </button>
                        </div>
                    </div>
                    <div collapse="isCollapsed" class="panel-body collapse" style="height: 0px;">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Kode Ujian</label>
                                <div class="col-sm-5">
                                    <input st-search="kode_ujian" class="form-control"/>
                                </div>

                                <label class="col-sm-2 control-label">Nama Ujian</label>
                                <div class="col-sm-5">
                                    <input st-search="nama_ujian" class="form-control"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-striped table-hover">
                            <thead>
                            <tr>
                                <th style="text-align: left">Kode Ujian</th>
                                <th style="text-align: left">Nama Ujian</th>
                                <th style="text-align: left">Pin Sesi</th>
                                <th style="text-align: center">Status</th>
                                <th style="text-align: center">Dibuat Oleh</th>
                                <th style="text-align: left">DIbuat Pada</th>
                                <th style="text-align: left"></th>
                            </tr>
                            </thead>
                            <tbody ng-show="!isLoading">
                            <tr ng-repeat="row in displayed" ng-dblclick="view(row)">
                                <td>{{row.kode_ujian}}</td>
                                <td>{{row.nama_ujian}}</td>
                                <td>{{row.pin_sesi}}</td>
                                <td style="text-align: center"><label class="label label-success"
                                                                      ng-if="row.statuss == 'Aktif'">{{row.statuss}}</label><label
                                        class="label label-danger"
                                        ng-if="row.statuss == 'Tidak Aktif'">{{row.statuss}}</label></td>
                                <td style="text-align: center">{{row.created_by}}</td>
                                <td> {{row.created_at * 1000| date:'medium'}}</td>
                                <td>
                                    <div class="btn-group pull-right" role="group" style="margin-top: -3px;">
                                        <button ui-sref="live.hasil({id_ujian: {{row.id}}})" type="button"
                                                class="btn btn-success glyphicon glyphicon-export" ng-if="user.roles_id == 0"></button>
                                        <button type="button" class="btn btn-info glyphicon glyphicon-pencil"
                                                ng-click="update(row)" ng-if="user.roles_id == 0"></button>
                                        <button type="button" class="btn btn-danger glyphicon glyphicon-trash"
                                                ng-click="delete(row);" ></button>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                            <tbody ng-show="isLoading">
                            <tr>
                                <td colspan="7" class="text-center">Loading ...</td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr>
                                <td colspan="7" class="text-center" st-pagination="" st-items-by-page="10"
                                    st-template="tpl/blocks/pagination.custom.html"></td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>

            <!--FORM-->

            <div class="wrapper-sm" ng-show="is_edit">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        {{formtitle}}
                        <div class="btn-group pull-right" role="group" style="margin-top: -8px;">
                            <button type="submit" class="btn btn-default" ng-click="cancel()"><i
                                    class="glyphicon glyphicon-arrow-left"></i>&nbsp;Kembali
                            </button>
                            <button type="submit" class="btn btn-primary" ng-hide="is_view"
                                    ng-click="save(form, detUjian, detUjian2)"><i class="glyphicon glyphicon-save"></i>&nbsp;Simpan
                            </button>
                        </div>
                    </div>
                    <div class="panel-body">
                        <form name="landaform" class="form-horizontal form-validation">
                            <div class="row">
                                <div class="col-md-6 col-sm-12">
                                    <!--from judul-->
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Kode Ujian</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" ng-model="form.kode_ujian"
                                                   ng-disabled="is_view" style="width:80px">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">PIN Sesi</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" ng-model="form.pin_sesi"
                                                   ng-disabled="is_view" style="width:80px" maxlength="6">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Nama Ujian</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" ng-model="form.nama_ujian"
                                                   ng-disabled="is_view">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Lokasi Ujian</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" ng-model="form.lokasi_ujian"
                                                   ng-disabled="is_view">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Tipe Penilaian</label>
                                        <div class="col-sm-8">
                                            <div class="btn-group m-r">
                                                <label btn-radio="'reguler'" class="btn btn-default"
                                                       ng-model="form.type_penilaian"
                                                       required="">
                                                    Reguler
                                                </label>
                                                <label btn-radio="'intensif_stan'" class="btn btn-default"
                                                       ng-model="form.type_penilaian"
                                                       required="">
                                                    Intensif STAN
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <div class="form-group" ng-if="form.type_penilaian == 'reguler'">
                                        <label class="col-sm-4 control-label">Passing Grade</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control angka" ng-model="form.passing_grade"
                                                   ng-disabled="is_view" maxlength="3" style="max-width: 130px">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Text Jika Lulus</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" ng-model="form.passing_grade_iya"
                                                   ng-disabled="is_view">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Text Jika Tidak Lulus</label>
                                        <div class="col-sm-8">

                                            <input type="text" class="form-control" ng-model="form.passing_grade_tidak"
                                                   ng-disabled="is_view">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Durasi</label>
                                        <div class="col-sm-8">
                                            <div class="input-group" style="max-width: 130px;">
                                                <input type="text" class="form-control angka" ng-model="form.durasi"
                                                       ng-disabled="is_view" maxlength="3">
                                                <span class="input-group-addon" id="basic-addon2">Menit</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Status</label>
                                        <div class="col-sm-8">
                                            <div class="btn-group m-r">
                                                <label btn-radio="'1'" class="btn btn-default" ng-model="form.status"
                                                       required="" ng-disabled="is_view">
                                                    Aktif
                                                </label>
                                                <label btn-radio="'0'" class="btn btn-default" ng-model="form.status"
                                                       required="" ng-disabled="is_view">
                                                    Tidak Aktif
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Acak Soal</label>
                                        <div class="col-sm-8">
                                            <div class="btn-group m-r">
                                                <label btn-radio="'1'" class="btn btn-default" ng-model="form.is_acak"
                                                       required="" ng-disabled="is_view">
                                                    Ya
                                                </label>
                                                <label btn-radio="'0'" class="btn btn-default" ng-model="form.is_acak"
                                                       required="" ng-disabled="is_view">
                                                    Tidak
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>

                            <!--tambah materi-->
                            <div class="wrapper-sm">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3>Tambah Bank Soal</h3>
                                    </div>
                                    <div>
                                        <table class="table table-striped b-t b-light">
                                            <thead>
                                            <tr>
                                                <td ng-hide="is_view" style="padding: 0px; width: 5px;">
                                                    <button ng-click="addDetail()" class="btn btn-success"
                                                            ng-disabled="is_view"><i
                                                            class="glyphicon glyphicon-plus"></i></button>
                                                </td>
                                                <th style="text-align: center; font-weight: bold;width: 400px">Bank
                                                    Soal
                                                </th>
                                                <th style="text-align: center; font-weight: bold;">Level</th>
                                                <th style="text-align: center; font-weight: bold;">Jumlah Soal</th>
                                                <th style="text-align: center; font-weight: bold;">Nilai Soal</th>
                                                <th style="text-align: center; font-weight: bold;">Nilai Max</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr ng-repeat="detail in detUjian">
                                                <td ng-hide="is_view" style="padding: 0px; width: 5px;">
                                                    <button ng-click="removeRow($index, detail.id)"
                                                            class="btn btn-danger" ng-disabled="is_view"><i
                                                            class="glyphicon glyphicon-remove"></i></button>
                                                </td>
                                                <td>
                                                    <ui-select style="width: 500px;" ng-disabled="is_view"
                                                               on-select="nilaiSoal(detail.materi,$index)"
                                                               ng-model="detail.materi" theme="bootstrap">
                                                        <ui-select-match placeholder="Pilih Bank Soal">
                                                            {{$select.selected.tahun}} -
                                                            {{$select.selected.nama_kelompok}} -
                                                            {{$select.selected.nama_materi}}
                                                            (
                                                            <span ng-if="$select.selected.cara_penilaian == 0">Skala</span>
                                                            <span ng-if="$select.selected.cara_penilaian == 1">Single Answer</span>
                                                            <span ng-if="$select.selected.cara_penilaian == 2">Essay</span>
                                                            )
                                                        </ui-select-match>
                                                        <ui-select-choices
                                                                repeat="val in materi | filter : $select.search">
                                                            {{val.tahun}} - {{val.nama_kelompok}} - {{val.nama_materi}}
                                                            (
                                                            <span ng-if="val.cara_penilaian == 0">Skala</span>
                                                            <span ng-if="val.cara_penilaian == 1">Single Answer</span>
                                                            <span ng-if="val.cara_penilaian == 2">Essay</span>
                                                            )
                                                        </ui-select-choices>
                                                    </ui-select>
                                                </td>
                                                <td style="text-align: center;">
                                                    <div class="btn-group m-r">
                                                        <label btn-radio="'1'"
                                                               ng-click="jumlah(detail.materi.id, 1, $index)"
                                                               class="btn btn-default" ng-model="detail.level"
                                                               required="" ng-disabled="is_view">
                                                            Mudah
                                                        </label>
                                                        <label btn-radio="'2'"
                                                               ng-click="jumlah(detail.materi.id, 2, $index)"
                                                               class="btn btn-default" ng-model="detail.level"
                                                               required="" ng-disabled="is_view">
                                                            Sedang
                                                        </label>
                                                        <label btn-radio="'3'"
                                                               ng-click="jumlah(detail.materi.id, 3, $index)"
                                                               class="btn btn-default" ng-model="detail.level"
                                                               required="" ng-disabled="is_view">
                                                            Sulit
                                                        </label>
                                                    </div>
                                                </td>
                                                <td style="text-align: center;">
                                                    <input style="width: 50px;margin: 0px auto;" type="text"
                                                           maxlength="3" class="form-control angka"
                                                           ng-model="detail.jumlah_soal" ng-change="totalMax($index)"
                                                           ng-disabled="is_view">
                                                </td>
                                                <td style="text-align: center;">
                                                    <input style="width: 50px;margin: 0px auto;" type="text"
                                                           class="form-control angka" ng-model="detail.nilai_benar"
                                                           ng-disabled="true">
                                                </td>
                                                <td style="text-align: center;">
                                                    <input style="width: 50px;margin: 0px auto;" type="text"
                                                           maxlength="3" class="form-control angka"
                                                           ng-model="detail.nilai_max" ng-disabled="true">
                                                </td>
                                            </tr>
                                            </tbody>
                                            <tfoot>
                                            <tr>
                                                <td ng-hide="is_view"></td>
                                                <td></td>
                                                <td style="text-align: right;font-weight: bold;">Total Soal :</td>
                                                <td style="text-align: center">{{form.totalsoal}}</td>
                                                <td style="text-align: right;font-weight: bold;">Total Nilai Max :</td>
                                                <td style="text-align: center;">{{form.total}}</td>
                                            </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <!--Tambah Peserta-->
                            <div class="wrapper-sm" style="margin-top: 20px;">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3>Tambah Peserta</h3>
                                        <div class="form-inline pull-right" role="group" style="margin-top: -28px;"
                                             ng-hide="is_view">
                                            <select class="form-control input-sm" ng-model="idKelas" ng-hide="is_view">
                                                <option value="">- Pilih Kelas -</option>
                                                <option ng-repeat="valKelas in listKelas" value="{{valKelas.id}}">
                                                    {{valKelas.nama}}
                                                </option>
                                            </select>
                                            <button type="submit" class="btn btn-primary btn-sm" ng-hide="is_view"
                                                    ng-click="updatePeserta(idKelas)"><i
                                                    class="glyphicon glyphicon-upload"></i>&nbsp;Update Peserta
                                            </button>
                                            <button type="submit" class="btn btn-warning btn-sm" ng-hide="is_view"
                                                    type="file" ngf-select="uploadFiles($file, $invalidFiles)"
                                                    accept=".xls"><i class="glyphicon glyphicon-import"></i>&nbsp;Import
                                                Peserta
                                            </button>
                                            <a href="../file/format-cbt-peserta.xls" class="btn btn-info btn-sm"><i
                                                    class="glyphicon glyphicon-download"></i>&nbsp;Download Format</a>
                                        </div>
                                    </div>
                                    <div>
                                        <table class="table table-striped b-t b-light">
                                            <thead>
                                            <tr>
                                                <td ng-hide="is_view" style="padding: 0px; width: 5px;">
                                                    <button ng-click="addDetail2()" class="btn btn-success"
                                                            ng-disabled="is_view"><i
                                                            class="glyphicon glyphicon-plus"></i></button>
                                                </td>
                                                <th style="text-align: center; font-weight: bold;">Nama Peserta</th>
                                                <th style="text-align: center; font-weight: bold;">Nomor Ujian</th>
                                                <th style="text-align: center; font-weight: bold;">Asal Sekolah</th>
                                                <th style="text-align: center; font-weight: bold;">Jenis Kelamin</th>
                                                <th style="text-align: center; font-weight: bold;">Tanggal Lahir</th>
                                                <th style="text-align: center; font-weight: bold;">Tempat Lahir</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr ng-repeat="detail2 in detUjian2">
                                                <td ng-hide="is_view" style="padding: 0px; width: 5px;">
                                                    <button ng-click="removeRow2($index, detail2.id)"
                                                            class="btn btn-danger" ng-disabled="is_view"><i
                                                            class="glyphicon glyphicon-remove"></i></button>
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control" ng-model="detail2.nama"
                                                           ng-disabled="is_view" style="width: 500px; margin: 0px auto">
                                                </td>
                                                <td style="text-align: center;">
                                                    <input type="text" class="form-control" ng-model="detail2.no_ujian"
                                                           ng-disabled="is_view">
                                                </td>
                                                <td style="text-align: center;">
                                                    <input type="text" class="form-control" ng-model="detail2.asal_sekolah"
                                                           ng-disabled="is_view">
                                                </td>
                                                <td style="text-align: center;">
                                                    <div class="btn-group m-r">
                                                        <label btn-radio="'L'" class="btn btn-default"
                                                               ng-model="detail2.j_kelamin" required=""
                                                               ng-disabled="is_view">
                                                            L
                                                        </label>
                                                        <label btn-radio="'P'" class="btn btn-default"
                                                               ng-model="detail2.j_kelamin" required=""
                                                               ng-disabled="is_view">
                                                            P
                                                        </label>
                                                    </div>
                                                </td>
                                                <td style="text-align: center;">
                                                    <div class="input-group" style="max-width: 170px;margin: 0px auto;">
                                                        <input type="text" style="height: 30px;" class="form-control"
                                                               datepicker-popup="dd MMMM yyyy" ng-disabled="is_view"
                                                               ng-model="detail2.tanggal_lahir"
                                                               is-open="opened1 == $index" ng-change="setstatus()"
                                                               ng-click="open1($event, $index);"/>
                                                        <span class="input-group-addon">
                                                                <i class="glyphicon glyphicon-calendar"></i>
                                                            </span>
                                                    </div>

                                                </td>
                                                <td style="text-align: center;">
                                                    <input type="text" class="form-control"
                                                           ng-model="detail2.tempat_lahir" ng-disabled="is_view">
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <!--patameter hasil ujian-->
                            <div class="wrapper-sm" style="margin-top: 20px;">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3>Parameter Laporan Hasil Ujian</h3>
                                    </div>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label">Nama Pengesah</label>
                                                    <div class="col-sm-8">
                                                        <input type="text" class="form-control"
                                                               ng-model="form.nama_pengesah1" ng-disabled="is_view">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label">NIP Pengesah</label>
                                                    <div class="col-sm-8">
                                                        <input type="text" class="form-control"
                                                               ng-model="form.nip_pengesah1" ng-disabled="is_view">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label">Jabatan 1</label>
                                                    <div class="col-sm-8">
                                                        <input type="text" class="form-control" ng-model="form.jabatan1"
                                                               ng-disabled="is_view">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label">Jabatan 2</label>
                                                    <div class="col-sm-8">
                                                        <input type="text" class="form-control" ng-model="form.jabatan2"
                                                               ng-disabled="is_view">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label">Jabatan 3</label>
                                                    <div class="col-sm-8">
                                                        <input type="text" class="form-control" ng-model="form.jabatan3"
                                                               ng-disabled="is_view">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label">Nama Pengesah</label>
                                                    <div class="col-sm-8">
                                                        <input type="text" class="form-control"
                                                               ng-model="form.nama_pengesah2" ng-disabled="is_view">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label">NIP Pengesah</label>
                                                    <div class="col-sm-8">
                                                        <input type="text" class="form-control"
                                                               ng-model="form.nip_pengesah2" ng-disabled="is_view">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label">Jabatan 1</label>
                                                    <div class="col-sm-8">
                                                        <input type="text" class="form-control" ng-model="form.jabatan4"
                                                               ng-disabled="is_view">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label">Jabatan 2</label>
                                                    <div class="col-sm-8">
                                                        <input type="text" class="form-control" ng-model="form.jabatan5"
                                                               ng-disabled="is_view">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label">Jabatan 3</label>
                                                    <div class="col-sm-8">
                                                        <input type="text" class="form-control" ng-model="form.jabatan6"
                                                               ng-disabled="is_view">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">

                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label">Nama Pengesah</label>
                                                    <div class="col-sm-8">
                                                        <input type="text" class="form-control"
                                                               ng-model="form.nama_pengesah3" ng-disabled="is_view">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label">NIP Pengesah</label>
                                                    <div class="col-sm-8">
                                                        <input type="text" class="form-control"
                                                               ng-model="form.nip_pengesah3" ng-disabled="is_view">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label">Jabatan 1</label>
                                                    <div class="col-sm-8">
                                                        <input type="text" class="form-control" ng-model="form.jabatan7"
                                                               ng-disabled="is_view">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label">Jabatan 2</label>
                                                    <div class="col-sm-8">
                                                        <input type="text" class="form-control" ng-model="form.jabatan8"
                                                               ng-disabled="is_view">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label">Jabatan 3</label>
                                                    <div class="col-sm-8">
                                                        <input type="text" class="form-control" ng-model="form.jabatan9"
                                                               ng-disabled="is_view">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
