<div ng-controller="essayCtrl">
    <div class="title-head">
        <h1>Data Master - Koreksi Essay</h1>
    </div>
    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                ...
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="panel panel-default" st-pipe="callServer" st-table="displayed">
            <div class="panel-heading">
                <button class="btn btn-default btn-xs" ng-init="isCollapsed = true" ng-click="isCollapsed = !isCollapsed">Pencarian</button>
                <div class="form-inline pull-right" role="group" style="margin-top: -5px;">
                    <select class="form-control input-sm" ng-model="idUjian">
                        <option value="">- Pilih Ujian -</option>
                        <option ng-repeat="val in ujian" value="{{val.id}}">{{val.nama_ujian}}</option>
                    </select>
                    <button type="button" class="btn btn-primary" ng-click="view(idUjian);"><i class="glyphicon glyphicon-plus"></i>&nbsp; Tampilkan</button>
                </div> 
            </div>
            <div collapse="isCollapsed" class="panel-body collapse" style="height: 0px;" ng-if="is_view">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Nama</label>
                        <div class="col-sm-3">
                            <input st-search="nama" class="form-control"/>
                        </div>
                        <label class="col-sm-2 control-label">Nomor Ujian</label>
                        <div class="col-sm-3">
                            <input st-search="no_ujian" class="form-control angka"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">NIS</label>
                        <div class="col-sm-3">
                            <input st-search="NIS" class="form-control angka"/>
                        </div>
                        <label class="col-sm-2 control-label">jenis Kelamin</label>
                        <div class="col-sm-3">
                            <select class="form-control" st-search="j_kelamin">
                                <option value="">Semua</option>
                                <option value="L">Laki Laki</option>
                                <option value="P">Perempuan</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="table-responsive" ng-if="is_view">
                <table class="table table-striped table-hover" >
                    <thead>
                        <tr>
                            <th style="text-align: center;">No</th>
                            <th style="text-align: left;">Nama</th>
                            <th style="text-align: left;">No Ujian</th>
                            <th style="text-align: left;">Jenis Kelamin</th>
                            <th style="text-align: left;">Tanggal Lahir</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody ng-show="!isLoading">
                        <tr ng-repeat="row in displayed" ng-dblclick="view(row)">
                            <td class="text-center">{{row.no}}</td>
                            <td>{{row.nama}}</td>
                            <td>{{row.no_ujian}}</td>
                            <td>
                                <span ng-if="row.j_kelamin == 'L'">Laki Laki</span>
                                <span ng-if="row.j_kelamin == 'P'">Perempuan</span>
                            </td>
                            <td>{{row.tanggal_lahir| date:'longDate'}}</td>
                            <td>
                                <div class="btn-group pull-right" role="group" style="margin-top: -3px;">
                                    <button type="button" class="btn btn-info" ng-click="listJawaban(row.id,row.nama)"><i class="glyphicon glyphicon-eye-open "></i> Detail Jawaban</button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                    <tbody ng-show="isLoading">
                        <tr>
                            <td colspan="6" class="text-center">Loading ... </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="6" class="text-center" st-pagination="" st-items-by-page="10" st-template="tpl/blocks/pagination.custom.html">
                            </td>
                        </tr>
                    </tfoot>
                </table>		
            </div>
        </div>
    </div>

    <!--FORM-->
</div>
