<div class="modal-header">
    <div class="row">
        <div class="col-xs-9">
            <div class="modal-title">
                <h3>Koreksi Essay <b>{{formmodal.nama}}</b></h3>
            </div>
        </div>
        <div class="col-xs-3" align="right">
            <button ng-click="close()" title="Cancel"  class="btn btn-rounded btn btn-icon btn-default"><i class="glyphicon glyphicon-remove"></i></button>
        </div>
    </div>
</div>
<div class="modal-body">
    <div class="table-responsive">
        <table class="table table-bordered">
            <tr>
                <th style="width: 40px;" class="text-center">No.</th>
                <th>Pertanyaan</th>
                <th>Kunci Jawaban</th>
                <th>Jawaban Siswa</th>
                <th style="width: 200px;"></th>
            </tr>
            <tr ng-repeat="val in formmodal">
                <td class="text-center">{{val.nomor}}</td> 
                <td><span ng-bind-html="val.pertanyaan"></span></td> 
                <td>{{val.jawaban}}</td> 
                <td>{{val.jawaban_pilih}}</td> 
                <td>
                    <div class="btn-group">
                        <button class="btn btn-default" ng-click="update(val.id, 3)" ng-class="{ 'active' : val.essay_koreksi == 3 }">Salah</button>
                        <button class="btn btn-default" ng-click="update(val.id, 2)" ng-class="{ 'active' : val.essay_koreksi == 2 }">Setengah</button>
                        <button class="btn btn-default" ng-click="update(val.id, 1)" ng-class="{ 'active' : val.essay_koreksi == 1 }">Benar</button>
                    </div>
                </td> 
            </tr>
        </table>
    </div>
</div>
<!--<div class="modal-footer">                  
    <button class="btn btn-danger" ng-click="selesai_ujian()" >AKHIRI UJIAN</button>
</div>-->
