<!--<div data-ng-include="'tpl/blocks/header.html'" class="app-header navbar"></div>-->

<div class="app-content">
    <div ui-butterbar></div>
    <div ui-view></div>
</div>

<!--<div class="footer">
    @ 2017 Computer Base Test Neo
</div>-->