<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button aria-controls="navbar" aria-expanded="false" class="navbar-toggle collapsed" data-target="#navbar"
                    data-toggle="collapse" type="button">
                <span class="sr-only">
                    Toggle navigation
                </span>
                <span class="icon-bar">
                </span>
                <span class="icon-bar">
                </span>
                <span class="icon-bar">
                </span>
            </button>
            <a class="navbar-brand" ui-sref="site.dashboard">
                SMP Plus Al-Kautsar
            </a>
        </div>
        <div class="navbar-collapse collapse" id="navbar">
            <ul class="nav navbar-nav">

                <!--                <li class="dropdown" ng-if="user.roles_id == 0">
                                    <a aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" href="#" role="button">
                                        <i class="glyphicon glyphicon-wrench icon text-info-lter">
                                        </i>
                                        &nbsp;Pengaturan
                                        <span class="caret">
                                        </span>
                                    </a>
                                    <ul class="dropdown-menu" >
                                        <li>
                                            <a ui-sref="master.setting">
                                                <i class="glyphicon glyphicon-home icon text-info-lter"></i>
                                                Sekolah
                                            </a>
                                        </li>
                                    </ul>
                                </li>-->

                <li class="dropdown">
                    <a aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" href="#" role="button">
                        <i class="glyphicon glyphicon-th-large icon text-info-lter">
                        </i>
                        Master
                        <span class="caret">
                        </span>
                    </a>
                    <ul class="dropdown-menu">
                        <li ng-if="user.roles_id == 0">
                            <a ui-sref="master.user">
                                <i class="glyphicon glyphicon-menu-right"></i>
                                User
                            </a>
                        </li>
                        <li ng-if="user.roles_id == 0">
                            <a ui-sref="master.guru">
                                <i class="glyphicon glyphicon-menu-right"></i>
                                Guru
                            </a>
                        </li>
                        <li>
                        <li>
                            <a ui-sref="master.kelas" ng-if="user.roles_id == 0">
                                <i class="glyphicon glyphicon-menu-right"></i>
                                Kelas
                            </a>
                        </li>
                        <li>
                            <a ui-sref="master.siswa" ng-if="user.roles_id == 0">
                                <i class="glyphicon glyphicon-menu-right"></i>
                                Siswa
                            </a>
                        </li>


                    </ul>
                </li>
                <li>
                    <a ui-sref="master.materi">
                        <i class="glyphicon glyphicon-book"></i>
                        Bank Soal
                    </a>
                </li>
                <li class="dropdown">
                    <a aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" href="#" role="button">
                        <i class="glyphicon glyphicon-blackboard icon text-info-lter">
                        </i>
                        Transaksi
                        <span class="caret">
                        </span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a ui-sref="master.ujian">
                                <i class="glyphicon glyphicon-calendar icon text-info-lter"></i>
                                Jadwal Ujian
                            </a>
                        </li>
                        <li>
                            <a ui-sref="master.essay">
                                <i class="glyphicon glyphicon-list-alt icon text-info-lter"></i>
                                Koreksi Essay
                            </a>
                        </li>
<!--                        <li>
                            <a ui-sref="laporan.anabut">
                                <i class="glyphicon glyphicon-print icon text-info-lter"></i>
                                Analisa Butir Soal
                            </a>
                        </li>-->
                    </ul>
                </li>
                <li>
                    <a ui-sref="laporan.hasilujian">
                        <i class="glyphicon glyphicon-print icon text-info-lter"></i>
                        Laporan Hasil Ujian
                    </a>
                </li>
<!--                <li>
                    <a ui-sref="laporan.hasilujian_stan">
                        <i class="glyphicon glyphicon-print icon text-info-lter"></i>
                        Laporan Hasil Ujian STAN
                    </a>
                </li>-->
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" href="#" role="button">
                        <img class="img-circle" src="img/user.jpg"
                             style="height: 20px;border: 1px solid rgba(255, 255, 255, .15);">
                        {{user.nama}}
                        <span class="caret">
                        </span>
                        </img>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a ui-sref="master.penggunaprofile">
                                <span class="glyphicon glyphicon-user">
                                </span>
                                Profile
                            </a>
                        </li>
                        <li>
                            <a href="#" ng-click="logout()">
                                <span class="glyphicon glyphicon-off">
                                </span>
                                Logout
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
