<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span>Cek Data Peserta</span>
                </div>
                <div class="panel-body">
                    <table class="table table-striped table-bordered">
                        <tr>
                            <td>
                                Nama Ujian
                            </td>
                            <td>
                                PENILAIAN KOMPETESI APARATUR KEMENTERIAN HUKUM DAN HAM (ADMINISTRASI)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Kode Ujian
                            </td>
                            <td>
                                KUMHAM_ADMINISTRASI
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Lokasi
                            </td>
                            <td>
                                Sidoarjo
                            </td>
                        </tr>
                    </table>
                    <h4 style="font-family: sans-serif;font-style: italic">Informasi Peserta</h4>
                    <table class="table table-striped table-bordered">
                        <tr>
                            <td>
                                Nama Lengkap
                            </td>
                            <td>
                                MUH TANTOWI LATHIF  
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Nomor Ujian
                            </td>
                            <td>
                                A-209-2016
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Jenis Kelamin
                            </td>
                            <td>
                                P
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Tempat Lahir
                            </td>
                            <td>
                                Ponorogo
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Tanggal Lahir
                            </td>
                            <td>
                                28 Agustus 1997
                            </td>
                        </tr>
                    </table>
                    <div class="pull-right">
                        <button class="btn btn-warning">Batal</button>
                        <button class="btn btn-primary">Mulai Ujian</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>