<div ng-controller="ujianCtrl">
    <!--<button class="btn btn-primary" ng-click="logout()">Logout</button> - <button class="btn btn-success" ng-click="hasil()">Hasil Ujian</button>-->
    <style>
        .menu ul.main-menu li a, body {
            line-height: 26px
        }

        .btn-primary, .profile-link {
            font-weight: 600
        }

        .menu {
            background: #f6f8f8;
            border-radius: 0
        }

        .menus {
            display: inline-block;
            background: #fff;
            border: none;
            border-radius: 0;
            padding: 13px 10px 0;
            width: 100%;
            height: 65px;
            margin-top: 10px
        }

        .menu form {
            margin: 12px 0
        }

        .menu form .form-group {
            position: relative
        }

        .menu form .form-group i.icon {
            position: absolute;
            left: 15px;
            top: 6px;
            right: 3px;
            color: #051319
        }

        .menu form .form-group input.form-control {
            background: rgba(255, 255, 255, .9);
            border: 0;
            box-shadow: none;
            min-width: 235px;
            color: #000;
            height: 26px;
            border-radius: 13px;
            font-size: 13px;
            padding-left: 30px
        }

        .menu ul.main-menu li.dropdown a {
            color: #fff;
            font-size: 13px;
            font-weight: 600
        }

        .menu ul.main-menu li.dropdown a:active, .menu ul.main-menu li.dropdown a:focus, .menu ul.main-menu li.dropdown a:hover {
            color: #1cdb9e;
            background: 0 0
        }

        .menu ul.main-menu li.open a, .menu ul.main-menu li.open a:active, .menu ul.main-menu li.open a:focus {
            background: 0 0;
            color: #b2e8ff
        }

        .menu ul.main-menu li ul.dropdown-menu {
            background: #262d30;
            box-shadow: none;
            border: 0;
            padding: 0
        }

        .menu ul.main-menu li ul.dropdown-menu li {
            list-style: none;
            padding: 5px 0;
            border-bottom: 1px solid rgba(255, 255, 255, .1)
        }

        .menu ul.main-menu li ul.dropdown-menu li a, .menu ul.main-menu li.open ul.dropdown-menu li a {
            color: #fff;
            font-size: 13px;
            line-height: 16px
        }

        .menu ul.main-menu li ul.dropdown-menu li a:hover, .menu ul.main-menu li.open ul.dropdown-menu li a:hover {
            color: #21ffb8
        }

        .navbar-default .navbar-collapse, .navbar-default .navbar-form {
            border: 0
        }

        #header.lazy-load {
            position: fixed;
            left: 0;
            right: 0;
            transition: .5s ease-in-out;
            transform: translateY(-50px);
            z-index: 99999
        }

        #header.lazy-load.visible {
            visibility: visible;
            transform: translateY(0)
        }

        #header-inverse nav.menu {
            background: 0 0;
            margin-top: 15px;
            z-index: 1030
        }

        #header-inverse .menu ul.main-menu li ul.dropdown-menu {
            border-radius: 4px;
            position: absolute
        }

        #header-inverse .menu ul.main-menu li ul.dropdown-menu::before {
            content: "";
            display: block;
            position: absolute;
            right: 20px;
            bottom: 100%;
            width: 0;
            height: 0;
            border-bottom: 10px solid #231F20;
            border-top: 10px solid transparent;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent
        }

        #banner {
            background: url(../images/bg/bg-1.jpg) center no-repeat fixed;
            background-size: cover;
            width: 100%;
            min-height: 550px;
            position: relative;
            top: 0
        }

        .sign-up-form {
            background: linear-gradient(to bottom, rgba(43, 57, 144, .8), rgba(39, 170, 225, 1) 65%);
            position: absolute;
            width: 340px;
            min-height: 600px;
            top: 0;
            padding: 40px 30px;
            text-align: center;
            color: #fff;
            z-index: 1000
        }

        .sign-up-form:after {
            content: "";
            border-color: #27aae1 transparent transparent;
            border-style: solid;
            border-width: 40px 170px 0;
            bottom: -40px;
            height: 0;
            left: 0;
            position: absolute;
            width: 0
        }

        .sign-up-form h2 {
            font-family: 'Agency FB', sans-serif;
            margin: 100px 0 20px
        }

        .sign-up-form .line-divider {
            background: 0 0;
            height: 1px;
            border-top: 1px solid rgba(255, 255, 255, .2);
            width: 180px;
            margin: auto auto 10px
        }

        .sign-up-form .form-wrapper {
            padding: 20px 20px 0;
            border: 1px solid rgba(255, 255, 255, .2);
            border-top: none;
            margin-bottom: 30px
        }

        .sign-up-form .form-wrapper .signup-text {
            font-size: 15px
        }

        .sign-up-form .form-wrapper .form-group {
            margin-bottom: 10px;
            width: 100%
        }

        .sign-up-form .form-wrapper .form-group .form-control {
            border: none;
            box-shadow: none;
            border-radius: 17px;
            padding-left: 20px
        }

        .sign-up-form .form-wrapper button {
            position: relative;
            top: 20px;
            border-radius: 17px
        }

        .sign-up-form a {
            color: #fff
        }

        .sign-up-form img.form-shadow {
            position: absolute;
            left: 0;
            right: 0;
            margin: auto;
            top: 100%
        }

        #features {
            background: #EFEFEF;
            background: radial-gradient(#fff 50%, #EFEFEF 90%);
            background: -moz-radial-gradient(#fff 50%, #EFEFEF 90%);
            background: -webkit-radial-gradient(#fff 50%, #EFEFEF 90%);
            background: -o-radial-gradient(#fff 50%, #EFEFEF 90%);
            text-align: center
        }

        #features .feature-item .feature-icon {
            background: linear-gradient(to bottom, rgba(43, 57, 144, .8), rgba(39, 170, 225, .8) 65%), url(../images/blur.png) no-repeat;
            background-size: cover;
            background-position: center;
            width: 110px;
            height: 110px;
            border-radius: 55px;
            margin: auto;
            border: 6px solid #fff;
            box-shadow: 0 12px 12px rgba(39, 170, 225, .3);
            cursor: pointer;
            font-size: 35px;
            color: #fff;
            line-height: 100px
        }

        #features .feature-item .feature-icon:hover {
            background: #27aae1;
            transition: all 1s
        }

        #features .feature-item h3 {
            font-family: 'Agency FB', sans-serif;
            color: #939598
        }

        #incremental-counter .num {
            background: #f8f8f8;
            border: 1px solid #fff;
            border-radius: 4px;
            color: #27aae1;
            display: inline-block;
            height: 64px;
            line-height: 62px;
            margin: 0 4px 20px;
            position: relative;
            left: -1px;
            text-align: center;
            width: 50px;
            font-size: 45px;
            font-size: 3.72625em;
            font-weight: 400;
            font-family: 'Agency FB', sans-serif
        }

        #incremental-counter .num::before {
            background: #00aae6;
            content: "";
            display: block;
            height: 1px;
            left: -1px;
            margin: -.5px 0 0;
            position: absolute;
            right: -1px;
            top: 50%;
            width: auto
        }

        #features img.face-map {
            margin: 0 auto -250px
        }

        #app-download {
            background: #fff;
            text-align: center
        }

        #app-download ul.app-btn {
            padding: 0;
            margin: 0
        }

        #app-download ul.app-btn li {
            list-style: none;
            padding-left: 10px;
            padding-right: 10px
        }

        #app-download ul.app-btn li button {
            padding: 8px 15px
        }

        #app-download ul.app-btn li button::after {
            content: "";
            background: linear-gradient(to bottom, rgba(0, 0, 0, .1), transparent 70%);
            height: 36px;
            width: auto;
            position: absolute;
            left: 0;
            right: 0;
            top: 100%;
            border-radius: 6px
        }

        .img-divider {
            background: url(../images/bg/bg-2.jpg) center no-repeat;
            background-size: cover;
            text-align: center;
            min-height: 460px
        }

        #site-facts {
            background: radial-gradient(rgba(0, 0, 0, .7) 40%, rgba(0, 0, 0, 1) 100%), url(../images/bg/bg-4.jpg) no-repeat fixed;
            background-size: cover;
            height: 500px !important;
            text-align: center;
            color: #fff
        }

        #site-facts .circle {
            background: #27aae1;
            width: 660px;
            height: 660px;
            border-radius: 50%;
            margin: auto;
            position: relative;
            top: -180px;
            padding: 75px;
            overflow: hidden
        }

        #site-facts .circle ul.facts-list {
            padding: 0;
            margin: 0
        }

        #site-facts .circle ul.facts-list li {
            list-style: none
        }

        #site-facts .circle ul.facts-list li:nth-child(1) {
            margin: 5px auto 50px
        }

        #site-facts .circle ul.facts-list li:nth-child(1)::before {
            content: "";
            border-left: 1px solid rgba(255, 255, 255, .2);
            height: 75px;
            position: absolute;
            top: 0
        }

        #site-facts .circle ul.facts-list li:nth-child(1)::after, #site-facts .circle ul.facts-list li:nth-child(2)::after {
            content: "";
            border-left: 1px solid rgba(255, 255, 255, .2);
            height: 34px;
            position: absolute
        }

        #site-facts .circle ul.facts-list li:nth-child(3) {
            margin: 50px auto 10px
        }

        #site-facts .circle ul.facts-list li:nth-child(3)::after {
            content: "";
            border-left: 1px solid rgba(255, 255, 255, .2);
            height: 75px;
            position: absolute;
            bottom: 0
        }

        #site-facts .circle .fact-icon {
            background: rgba(255, 255, 255, .1);
            height: 60px;
            width: 60px;
            border-radius: 50%;
            margin: auto;
            font-size: 50px
        }

        #live-feed {
            background: #fff;
            text-align: center
        }

        #live-feed ul.online-users li {
            margin: 0
        }

        #lp-register {
            background: linear-gradient(to right, rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url(../images/bg/bg-3.jpg) no-repeat fixed;
            background-size: cover;
            background-position: center;
            position: absolute;
            top: 0;
            width: 100%
        }

        #lp-register .wrapper {
            padding-top: 140px;
            padding-bottom: 140px
        }

        .intro-texts {
            color: #fff;
            font-size: 14px;
            transform: translateY(100px)
        }

        .intro-texts h1 {
            margin-bottom: 30px;
            font-weight: 700
        }

        .intro-texts button {
            margin-top: 20px;
            border-radius: 30px;
            padding: 8px 20px;
            width: 150px
        }

        .intro-texts button::before {
            content: none
        }

        .reg-form-container {
            background: #fff;
            box-shadow: 0 0 35px rgba(0, 0, 0, .4);
            padding: 40px 40px 40px 60px;
            border-radius: 6px;
            position: relative;
            min-height: 560px;
            z-index: 10
        }

        .reg-form-container::after, .reg-form-container::before {
            background: rgba(255, 255, 255, .1);
            border-radius: 6px;
            transform: translateY(-50%)
        }

        .reg-form-container::before {
            content: "";
            width: 95%;
            height: 70%;
            position: absolute;
            right: -15px;
            top: 50%;
            z-index: -2
        }

        .reg-form-container .reg-options::before, .reg-form-container::after {
            z-index: -1;
            position: absolute;
            top: 50%;
            content: ""
        }

        .reg-form-container::after {
            width: 90%;
            height: 65%;
            right: -30px
        }

        .reg-form-container .reg-options::before {
            background: linear-gradient(to right, rgba(255, 255, 255, .2), rgba(255, 255, 255, .05));
            height: 70%;
            width: 50px;
            left: 0;
            transform: translateX(-100%) translateY(-50%);
            border-radius: 6px 0 0 6px
        }

        .reg-form-container .reg-options .nav-tabs {
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%) translateX(-60%) rotate(270deg);
            border: none
        }

        .reg-form-container .nav-tabs > li {
            margin-left: 10px;
            margin-right: 10px;
            position: relative
        }

        .reg-form-container .nav-tabs > li::after {
            content: "";
            background: rgba(255, 255, 255, .1);
            height: 25px;
            width: 1px;
            position: absolute;
            right: -10px;
            top: 5px
        }

        .reg-form-container .nav-tabs > li:last-child::after {
            content: none
        }

        .reg-form-container .nav-tabs > li > a {
            background: 0 0;
            color: #939598;
            padding: 5px 30px;
            min-width: 120px;
            border-radius: 30px;
            font-size: 14px;
            font-weight: 700;
            text-align: center;
            border: none
        }

        .reg-form-container .nav-tabs > li.active > a, .reg-form-container .nav-tabs > li.active > a:focus, .reg-form-container .nav-tabs > li.active > a:hover {
            background: 0 0;
            color: #fff;
            font-weight: 700;
            border: none
        }

        #Login_form .form-group, #registration_form .form-group {
            margin-bottom: 10px
        }

        #Login_form .form-control, #registration_form .form-control {
            background: #fff;
            color: #939598;
            border-radius: 30px;
            box-shadow: none;
            width: 100%;
            border: 1px solid #f1f2f2;
            padding-left: 15px
        }

        #registration_form select.form-control {
            background: url(../images/down-arrow.png) calc(100% - 10px) center/8px auto no-repeat rgba(0, 0, 0, 0);
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            color: #939598
        }

        #registration_form p.birth {
            margin-left: 10px
        }

        #lp-register ul.social-icons {
            text-align: center;
            margin-top: 40px;
            z-index: 11
        }

        #lp-register ul.social-icons li {
            border: none
        }

        #lp-register ul.social-icons li a {
            color: #fff
        }

        #lp-register ul.social-icons li a:hover {
            color: #27aae1;
            transition: all .5s
        }

        .info-side, .profile-card {
            width: 100%;
            border-radius: 4px;
            padding: 10px 20px;
            color: #fff;
            min-height: 90px
        }

        .info-side {
            margin-bottom: 40px
        }

        .profile-card {
            background: linear-gradient(to bottom, rgba(42, 229, 249, .8), rgba(28, 169, 191, .8)), url(../images/covers/1.jpg) no-repeat;
            background-size: cover;
            margin-bottom: 20px
        }

        .profile-card img.profile-photo {
            border: 7px solid #fff;
            float: left;
            margin-right: 20px;
            position: relative;
            top: -30px;
            height: 70px;
            width: 70px;
            border-radius: 50%
        }

        .profile-card h5 a {
            font-size: 15px
        }

        .profile-card a {
            font-size: 12px
        }

        ul.nav-news-feed {
            padding-left: 20px;
            padding-right: 20px;
            margin: 0 0 40px
        }

        ul.nav-news-feed li {
            list-style: none;
            display: block;
            padding: 15px 0
        }

        ul.nav-news-feed li div {
            position: relative;
            margin-left: 30px
        }

        ul.nav-news-feed li div::after {
            content: "";
            width: 100%;
            height: 1px;
            border-top: 1px solid #f1f2f2;
            position: absolute;
            bottom: -15px;
            left: 0
        }

        ul.nav-news-feed li a {
            color: #6d6e71
        }

        ul.nav-news-feed li i {
            font-size: 18px;
            margin-right: 15px;
            float: left
        }

        ul.nav-news-feed i.ion-ios-paper {
            color: #8dc63f
        }

        ul.nav-news-feed i.ion-ios-people {
            color: #662d91
        }

        ul.nav-news-feed i.ion-ios-people-outline {
            color: #ee2a7b
        }

        ul.nav-news-feed i.ion-chatboxes {
            color: #f7941e
        }

        ul.nav-news-feed i.ion-images {
            color: #1c75bc
        }

        ul.nav-news-feed i.ion-ios-videocam {
            color: #9e1f63
        }

        #chat-block {
            margin: 0 0 40px;
            text-align: center
        }

        #chat-block .title {
            background: #8dc63f;
            padding: 2px 20px;
            width: 70%;
            height: 30px;
            border-radius: 15px;
            position: relative;
            margin: 0 auto 20px;
            color: #fff;
            font-size: 14px;
            font-weight: 600
        }

        ul.online-users {
            padding-left: 20px;
            padding-right: 20px;
            text-align: center;
            margin: 0
        }

        ul.online-users li {
            list-style: none;
            position: relative;
            margin: 3px auto !important;
            padding-left: 2px;
            padding-right: 2px
        }

        ul.online-users li span.online-dot {
            background: linear-gradient(to bottom, rgba(141, 198, 63, 1), rgba(0, 148, 68, 1));
            height: 12px;
            width: 12px;
            border-radius: 50%;
            position: absolute;
            bottom: -6px;
            border: 2px solid #fff;
            left: 0;
            right: 0;
            margin: auto
        }

        .create-post, .follow-user {
            margin-bottom: 20px
        }

        .suggestions.affix {
            position: fixed !important
        }

        .follow-user div {
            margin-left: 50px;
            position: relative
        }

        .follow-user div::after {
            content: "";
            background: 0 0;
            border-top: 1px solid #f1f2f2;
            position: absolute;
            width: 100%;
            left: 0;
            bottom: -10px
        }

        .create-post {
            width: 100%;
            min-height: 90px;
            padding: 20px;
            border-bottom: 1px solid #f1f2f2
        }

        .create-post .form-group {
            margin-bottom: 0;
            display: inline-flex
        }

        .create-post .form-group .form-control {
            border: 1px solid #ccc;
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075)
        }

        .create-post .form-group img.profile-photo-md {
            margin-right: 10px
        }

        .create-post .tools {
            padding: 8px 0 10px
        }

        .create-post .tools ul.publishing-tools {
            display: inline-block;
            text-align: left;
            margin: 0;
            padding: 5px 0
        }

        .create-post .tools ul.publishing-tools li a {
            color: #6d6e71;
            font-size: 18px
        }

        .create-post .tools ul.publishing-tools li a:hover {
            color: #27aae1
        }

        .post-content {
            background: #f8f8f8;
            border-radius: 4px;
            width: 100%;
            border: 1px solid #f1f2f2;
            margin-bottom: 30px;
            overflow: hidden;
            position: relative
        }

        .google-maps, .post-content img.post-image, .post-detail img.post-top, video.post-video {
            width: 100%;
            height: auto
        }

        .post-content .google-maps .map {
            height: 300px
        }

        .post-content .post-container {
            padding: 20px
        }

        .post-content .post-container .post-detail, .post-content .post-container .post-detail h5 {
            margin-left: 30px;
            position: relative
        }

        .post-content .post-container .post-detail .post-text {
            line-height: 24px;
            margin: 0;
            text-align: justify
        }

        .post-content .post-container .post-detail .reaction {
            position: absolute;
            right: 0;
            top: 0
        }

        .post-content .post-container .post-detail .post-comment {
            display: inline-flex;
            margin: 10px auto;
            width: 100%
        }

        .post-content .post-container .post-detail .post-comment img.profile-photo-sm {
            margin-right: 10px
        }

        .post-content .post-container .post-detail .post-comment .form-control {
            height: 30px;
            border: 1px solid #ccc;
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
            margin: 7px 0;
            min-width: 0
        }

        .people-nearby .google-maps {
            background: #f8f8f8;
            border-radius: 4px;
            border: 1px solid #f1f2f2;
            padding: 20px;
            margin-bottom: 20px
        }

        .people-nearby .google-maps .map {
            height: 300px;
            width: 100%;
            border: none
        }

        .people-nearby .nearby-user {
            padding: 20px 0;
            border-top: 1px solid #f1f2f2;
            border-bottom: 1px solid #f1f2f2;
            margin-bottom: 20px
        }

        .friend-list .friend-card {
            border-radius: 4px;
            border-bottom: 1px solid #f1f2f2;
            overflow: hidden;
            margin-bottom: 20px
        }

        .friend-list .friend-card .card-info {
            padding: 0 20px 10px
        }

        .friend-list .friend-card .card-info img.profile-photo-lg {
            margin-top: -60px;
            border: 7px solid #fff
        }

        .chat-room ul.contact-list li {
            width: 100%;
            margin-bottom: 0
        }

        .chat-room ul.contact-list li a {
            border: none;
            padding: 10px 0;
            border-bottom: 1px solid #f1f2f2 !important
        }

        .chat-room ul.contact-list li a:active, .chat-room ul.contact-list li a:focus, .chat-room ul.contact-list li a:hover {
            border: none;
            border-bottom: 1px solid #8dc63f !important;
            border-radius: 0;
            cursor: pointer;
            background: 0 0
        }

        .chat-room ul.contact-list li a .contact {
            margin-left: 10px;
            margin-right: 10px
        }

        .chat-room ul.contact-list li a .contact .msg-preview {
            margin-left: 50px
        }

        .chat-room ul.contact-list li a .contact .msg-preview small {
            position: absolute;
            top: 20px;
            right: 10px
        }

        .chat-room ul.contact-list li a .contact .msg-preview .chat-alert {
            background: red;
            text-align: center;
            border-radius: 4px;
            padding: 1px 6px;
            position: absolute;
            right: 10px;
            bottom: 20px;
            color: #fff
        }

        .chat-room ul.contact-list li a .contact .msg-preview .seen, .replied {
            color: #939598;
            position: absolute;
            right: 10px;
            bottom: 20px;
            font-size: 14px
        }

        .chat-room .chat-body ul.chat-message {
            padding: 0;
            margin: 0
        }

        .chat-room .chat-body ul.chat-message li {
            list-style: none;
            margin-bottom: 20px
        }

        .chat-room .chat-body ul.chat-message li.left .chat-item {
            background: rgba(141, 198, 63, .1);
            margin-left: 50px;
            padding: 5px 10px;
            position: relative;
            border-radius: 10px
        }

        .chat-room .chat-body ul.chat-message li.left .chat-item::before {
            border-bottom: 10px solid transparent;
            border-right: 8px solid rgba(141, 198, 63, .1);
            border-top: 10px solid transparent;
            content: "";
            height: 0;
            left: -8px;
            position: absolute;
            top: 10px;
            width: 0
        }

        .chat-room .chat-body ul.chat-message li.left .chat-item .chat-item-header {
            border-bottom: 1px dotted #caef8e;
            margin-bottom: 10px
        }

        .chat-room .chat-body ul.chat-message li.right .chat-item {
            background: rgba(39, 170, 225, .1);
            margin-right: 50px;
            padding: 5px 10px;
            position: relative;
            border-radius: 10px
        }

        .chat-room .chat-body ul.chat-message li.right .chat-item::after {
            border-bottom: 10px solid transparent;
            border-left: 8px solid rgba(39, 170, 225, .1);
            border-top: 10px solid transparent;
            content: "";
            height: 0;
            right: -8px;
            position: absolute;
            top: 10px;
            width: 0
        }

        .chat-room .chat-body ul.chat-message li.right .chat-item .chat-item-header {
            border-bottom: 1px dotted #bce8f7;
            margin-bottom: 10px
        }

        .chat-room .chat-body ul.chat-message li .chat-item .chat-item-header h5 {
            color: #4d4d4d
        }

        .chat-room .chat-body ul.chat-message li .chat-item .chat-item-header small {
            position: absolute;
            top: 15px;
            right: 20px
        }

        .chat-room .send-message {
            background: #f8f8f8;
            padding: 20px;
            border-radius: 4px
        }

        .chat-room .send-message button {
            background: #000;
            color: #fff
        }

        .scrollbar-wrapper.scrollbar-dynamic {
            max-height: none
        }

        .scrollbar-wrapper.tab-content {
            overflow-y: auto;
            height: 400px
        }

        .scrollbar-wrapper.contact-list {
            overflow-y: auto;
            height: 400px;
            border: none;
            margin-bottom: 20px
        }

        .scrollbar-wrapper {
            height: 100%;
            overflow: auto;
            width: 100%
        }

        .media .media-grid {
            background: #f8f8f8;
            border: 1px solid #f1f2f2;
            border-radius: 4px;
            overflow: hidden;
            margin-bottom: 20px
        }

        .media .media-grid img.post-image, video {
            width: 100%;
            cursor: pointer
        }

        .media .media-grid .media-info {
            padding-left: 10px;
            padding-right: 10px
        }

        .media .media-grid .media-info .reaction {
            padding: 10px 0;
            border-bottom: 1px solid #f1f2f2
        }

        .media .media-grid .media-info .user-info {
            padding: 10px 0
        }

        .media .media-grid .media-info .user-info .user {
            margin: -10px 0 0 50px
        }

        .modal-content .post-content {
            margin: 0
        }

        .timeline-cover {
            background: url(../images/covers/1.jpg) center no-repeat;
            background-size: cover;
            min-height: 360px;
            border-radius: 0 0 4px 4px;
            position: relative
        }

        .timeline-cover .timeline-nav-bar {
            background: rgba(0, 0, 0, .7);
            width: 100%;
            position: absolute;
            bottom: 25px
        }

        .timeline-cover .timeline-nav-bar .profile-info {
            position: absolute;
            text-align: center;
            padding: 0 20px;
            top: -100px;
            z-index: 999
        }

        .timeline-cover .timeline-nav-bar .profile-info img.profile-photo {
            height: 200px;
            width: 200px;
            border-radius: 50%;
            border: 10px solid #fff
        }

        .timeline-cover .timeline-nav-bar ul.profile-menu {
            margin: 0;
            display: table
        }

        .timeline-cover .timeline-nav-bar .profile-menu li {
            display: table-cell;
            vertical-align: middle;
            padding: 15px 0
        }

        .timeline-cover .timeline-nav-bar .profile-menu li a {
            color: #fff;
            padding: 15px;
            text-decoration: none
        }

        .timeline-cover .timeline-nav-bar .profile-menu li a.active, .timeline-cover .timeline-nav-bar .profile-menu li a:hover {
            color: #27aae1
        }

        .timeline-cover .timeline-nav-bar ul.follow-me {
            margin: 0;
            position: absolute;
            right: 15px;
            top: 2px
        }

        .timeline-cover .timeline-nav-bar .follow-me li {
            padding: 6px 15px;
            color: #fff
        }

        .timeline-cover .navbar-mobile {
            bottom: -185px;
            left: 0;
            position: absolute;
            right: 0;
            text-align: center
        }

        .timeline-cover .navbar-mobile .profile-info img.profile-photo {
            border: 10px solid #fff;
            border-radius: 50%;
            height: 200px;
            margin: auto;
            width: 200px
        }

        .timeline-cover .navbar-mobile .mobile-menu ul {
            margin: 0 0 20px
        }

        .timeline-cover .navbar-mobile .mobile-menu ul li {
            padding-left: 10px;
            padding-right: 10px;
            position: relative
        }

        .timeline-cover .navbar-mobile .mobile-menu ul li::after {
            content: "";
            height: 20px;
            background: 0 0;
            border-right: 1px solid #f1f2f2;
            position: absolute;
            right: 0
        }

        .timeline-cover .navbar-mobile .mobile-menu ul li:nth-child(4)::after {
            content: none
        }

        #footer::before, .feed-item::before, .timeline .post-content::before, .toggle-switch .slider:before, ul.edit-menu li.active::before {
            content: ""
        }

        .timeline-cover .navbar-mobile .mobile-menu ul li a {
            color: #4d4d4d
        }

        .timeline-cover .navbar-mobile .mobile-menu ul li a.active {
            color: #27aae1
        }

        .feed-item {
            text-align: left;
            margin-bottom: 13px;
            padding: 0 20px;
            position: relative
        }

        .feed-item::before {
            border-left: 2px solid #8dc63f;
            position: absolute;
            height: 30px;
            left: 0;
            top: 5px
        }

        .feed-item img.profile-photo-sm {
            float: left;
            margin-right: 10px
        }

        .feed-item .live-activity {
            border-bottom: 1px solid #f1f2f2
        }

        .timeline .post-content {
            position: relative;
            overflow: visible
        }

        .nav-menu, .post-rekomendasi {
            overflow-y: hidden;
            white-space: nowrap
        }

        .timeline .post-content::before {
            position: absolute;
            background: 0 0;
            width: 1px;
            height: 98%;
            left: -145px;
            border-left: 2px solid #8dc63f;
            top: 15px
        }

        .timeline .post-content .post-date {
            position: absolute;
            margin-left: -125px
        }

        .timeline .post-content .post-date::before {
            content: "";
            background: #8dc63f;
            position: absolute;
            width: 20px;
            height: 20px;
            border-radius: 10px;
            left: -30px;
            top: 10px;
            border: 2px solid #fff
        }

        ul.contact li, ul.edit-menu li {
            border-bottom: 1px solid #f1f2f2
        }

        .timeline .post-content img.post-image {
            border-radius: 4px 4px 0 0
        }

        .about-profile {
            margin-bottom: 20px
        }

        .about-profile .about-content-block {
            padding-top: 10px;
            padding-bottom: 10px;
            border-bottom: 1px solid #f1f2f2;
            line-height: 24px;
            margin-bottom: 10px
        }

        .about-profile .about-content-block h4 i.icon-in-title {
            margin-right: 15px;
            color: #27aae1
        }

        .about-profile .about-content-block .organization img.img-org {
            height: 40px;
            width: 40px;
            border-radius: 50%
        }

        .about-profile .about-content-block .organization .work-info {
            margin-left: 50px
        }

        .about-profile .about-content-block .google-maps .map {
            height: 150px
        }

        ul.interests span.int-icons {
            font-size: 25px;
            color: #8dc63f;
            cursor: pointer
        }

        .map-container {
            width: 100%
        }

        .map-container iframe {
            display: block;
            width: 100%;
            position: relative;
            pointer-events: none
        }

        .map-container iframe.clicked {
            pointer-events: auto
        }

        ul.album-photos {
            padding: 0;
            margin: 0 auto 20px;
            display: block;
            font-size: 0;
            text-align: center
        }

        ul.album-photos li {
            list-style: none;
            display: inline-block;
            max-width: 194px;
            padding: 2px
        }

        ul.album-photos li img {
            max-width: 100%
        }

        ul.edit-menu {
            margin-top: 100px;
            padding: 0 20px
        }

        ul.edit-menu li {
            list-style: none;
            padding: 15px 0;
            position: relative
        }

        ul.edit-menu li.active::before {
            background: #8dc63f;
            width: 2px;
            height: 40px;
            position: absolute;
            top: 50%;
            left: -20px;
            transform: translate(-50%, -50%)
        }

        ul.edit-menu li i.icon {
            font-size: 16px
        }

        ul.edit-menu li.active i.icon {
            color: #8dc63f
        }

        ul.edit-menu li a {
            color: #6d6e71;
            margin-left: 20px
        }

        ul.edit-menu li.active a {
            color: #8dc63f
        }

        .edit-profile-container h4 i {
            margin-right: 15px;
            color: #27aae1
        }

        .edit-block {
            margin-bottom: 30px
        }

        .edit-block .form-group {
            margin-bottom: 15px
        }

        .edit-block select.form-control {
            background: url(../images/down-arrow.png) calc(100% - 10px) center/8px auto no-repeat rgba(0, 0, 0, 0);
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none
        }

        .edit-block ul.interests {
            margin: 0 0 10px
        }

        .edit-block ul.interests li {
            background: #8dc63f;
            color: #fff;
            padding: 5px 15px;
            margin-right: 10px;
            margin-top: 5px;
            margin-bottom: 5px;
            border-radius: 40px
        }

        .edit-block ul.interests li a {
            color: #fff
        }

        .edit-block ul.interests li a i.icon {
            font-size: 18px
        }

        .edit-block .btn-primary {
            width: 100%
        }

        .gender .custom-label {
            padding-left: 0
        }

        .toggle-switch {
            text-align: right
        }

        .toggle-switch .switch {
            position: relative;
            display: inline-block;
            width: 60px;
            height: 34px;
            margin-top: 9px
        }

        .toggle-switch .switch input {
            display: none
        }

        .toggle-switch .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #f2f2f2;
            -webkit-transition: .4s;
            transition: .4s
        }

        .toggle-switch .slider:before {
            position: absolute;
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: #fff;
            -webkit-transition: .4s;
            transition: .4s
        }

        input:checked + .slider {
            background-color: #8dc63f
        }

        input:focus + .slider {
            box-shadow: 0 0 1px #8dc63f
        }

        input:checked + .slider:before {
            -webkit-transform: translateX(26px);
            -ms-transform: translateX(26px);
            transform: translateX(26px)
        }

        .slider.round {
            border-radius: 34px
        }

        .slider.round:before {
            border-radius: 50%
        }

        .contact-map {
            height: 250px
        }

        .contact-us {
            background: #fff;
            padding: 40px;
            margin-top: -140px;
            border-radius: 4px
        }

        .contact-us form.contact-form {
            margin-bottom: 20px
        }

        .contact-us form.contact-form .form-group {
            position: relative
        }

        .contact-us form.contact-form .form-group i {
            color: #f1f2f2;
            font-size: 16px;
            left: 10px;
            position: absolute;
            top: 3px
        }

        .contact-us form.contact-form .form-group input.form-control {
            padding-left: 30px
        }

        .contact-us form.contact-form .form-group textarea {
            box-shadow: none;
            font-size: 12px;
            border: 1px solid #f1f2f2
        }

        .contact-us .reach {
            margin: 10px 0;
            position: relative;
            line-height: 40px
        }

        .contact-us .reach span {
            border: 1px solid #f1f2f2;
            position: absolute;
            color: #8DC63F;
            height: 40px;
            width: 40px;
            border-radius: 50%;
            margin-right: 50px;
            text-align: center;
            font-size: 20px
        }

        .contact-us .reach p {
            margin-left: 50px
        }

        .contact-us ul.social-icons {
            margin-top: 20px
        }

        #footer {
            background: #231F20;
            color: #fff;
            position: relative;
            bottom: 0;
            width: 100%
        }

        #footer::before {
            background: linear-gradient(to right, #fff 0, #53cbf1 50%, #fff 100%);
            height: 5px;
            width: 100%;
            position: absolute
        }

        .footer-wrapper {
            padding: 50px 0;
            float: left;
            width: 100%
        }

        img.footer-logo {
            margin-bottom: 20px
        }

        ul.social-icons {
            margin: 0
        }

        ul.social-icons li {
            background: 0 0;
            height: 30px;
            margin: 3px;
            text-align: center
        }

        ul.social-icons li a {
            color: #cccdd1;
            line-height: 30px;
            text-decoration: none
        }

        ul.social-icons li a:hover {
            color: #27aae1;
            transition: all 1s
        }

        ul.footer-links li {
            line-height: 25px
        }

        ul.footer-links li a {
            color: #6d6e71
        }

        ul.footer-links li a:hover {
            color: #27aae1
        }

        ul.contact {
            margin: 0;
            padding: 0
        }

        ul.contact li {
            list-style: none;
            padding: 15px 0;
            font-size: 13px;
            font-weight: 600;
            line-height: 15px
        }

        ul.contact li i {
            font-size: 18px;
            margin-right: 20px;
            color: #27AAE1
        }

        .copyright {
            background: #231F20;
            text-align: center;
            color: #fff;
            padding: 5px
        }

        @media only screen and (max-width: 992px) {
            section h1.section-title {
                font-size: 175px;
                margin-bottom: -40px
            }

            #features .feature-item, #features .item {
                margin-bottom: 20px
            }

            .timeline #page-contents {
                margin-top: 185px !important
            }

            ul.edit-menu {
                margin-top: 0;
                margin-bottom: 30px;
                position: absolute
            }
        }

        @media only screen and (max-width: 768px) {
            .intro-texts, .nearby-user {
                text-align: center
            }

            .menu ul.main-menu li.dropdown ul.dropdown-menu li {
                background: #282425;
                position: absolute
            }

            #header-inverse nav.menu .navbar-collapse {
                background: rgba(0, 0, 0, .9)
            }

            .sign-up-form {
                left: 0;
                right: 0;
                margin: auto
            }

            section h1.section-title {
                font-size: 90px !important;
                margin-bottom: 0 !important
            }

            #features .feature-item {
                margin-bottom: 20px
            }

            #site-facts .circle {
                width: 100%;
                border-radius: 1000px
            }

            .nearby-user button.btn-primary {
                float: none !important
            }

            .post-content .post-container .post-detail .reaction {
                position: relative
            }

            #footer .footer-wrapper ul {
                margin-bottom: 10px
            }

            .contact-us .col-sm-7 {
                margin-bottom: 20px !important
            }

            .intro-texts {
                transform: translateY(0);
                margin-bottom: 80px
            }

            .reg-form-container {
                padding: 30px !important;
                text-align: center
            }

            .reg-form-container .reg-options::before {
                background: linear-gradient(to bottom, rgba(255, 255, 255, .2), rgba(255, 255, 255, .05));
                height: 50px;
                width: 70%;
                left: 0;
                right: 0;
                margin: auto;
                top: -50px;
                transform: translateX(0) translateY(0);
                border-radius: 6px 6px 0 0
            }

            .reg-form-container .reg-options .nav-tabs {
                left: 50%;
                transform: translateY(0) translateX(-50%) rotate(0);
                top: -40px
            }

            .reg-form-container .reg-options .nav-tabs li {
                margin: 0
            }

            .reg-form-container .reg-options .nav-tabs li:after {
                right: 0
            }

            .reg-form-container::after, .reg-form-container::before {
                content: none
            }

            .reg-form-container .nav-tabs > li > a {
                padding-left: 10px;
                padding-right: 10px;
                min-width: 50px
            }

            .toggle-switch {
                text-align: left
            }

            .toggle-switch .switch {
                margin-top: 0
            }
        }

        .arrows, .spinner {
            position: absolute
        }

        .post-contents .post-container .post-detail .action a {
            color: #6d6e71;
            text-decoration: none
        }

        .post-contents .post-container .post-detail .action a:hover {
            color: #43afc6
        }

        .slideDown.appear {
            animation-name: slideDown;
            -webkit-animation-name: slideDown;
            animation-duration: 1s;
            -webkit-animation-duration: 1s;
            animation-timing-function: ease;
            -webkit-animation-timing-function: ease;
            visibility: visible !important
        }

        .arrows {
            width: 60px;
            height: 72px;
            left: 0;
            right: 0;
            margin: auto;
            bottom: -90px
        }

        .arrows path {
            stroke: #27aae1;
            fill: transparent;
            stroke-width: 1px;
            animation: arrow 2s infinite;
            -webkit-animation: arrow 2s infinite
        }

        @keyframes arrow {
            0%, 100%, 80% {
                opacity: 0
            }
            40% {
                opacity: 1
            }
        }

        @-webkit-keyframes arrow {
            0%, 100%, 80% {
                opacity: 0
            }
            40% {
                opacity: 1
            }
        }

        .arrows path.a1 {
            animation-delay: -1s;
            -webkit-animation-delay: -1s
        }

        .arrows path.a2 {
            animation-delay: -.5s;
            -webkit-animation-delay: -.5s
        }

        .arrows path.a3 {
            animation-delay: 0s;
            -webkit-animation-delay: 0s
        }

        .spinner {
            width: 40px;
            height: 40px;
            background-color: #27aae1;
            top: 48%;
            left: 48%;
            box-shadow: 0 0 8px rgba(0, 0, 0, .3);
            -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
            animation: sk-rotateplane 1.2s infinite ease-in-out
        }

        @-webkit-keyframes sk-rotateplane {
            0% {
                -webkit-transform: perspective(120px)
            }
            50% {
                -webkit-transform: perspective(120px) rotateY(180deg)
            }
            100% {
                -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg)
            }
        }

        @keyframes sk-rotateplane {
            0% {
                transform: perspective(120px) rotateX(0) rotateY(0);
                -webkit-transform: perspective(120px) rotateX(0) rotateY(0)
            }
            50% {
                transform: perspective(120px) rotateX(-180.1deg) rotateY(0);
                -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0)
            }
            100% {
                transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
                -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg)
            }
        }

        #spinner-wrapper {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #fff;
            z-index: 9999999
        }

        .btn-buy {
            background: #f2f2f2;
            padding: 10px;
            position: fixed;
            bottom: 30px;
            right: 30px;
            color: #82B541;
            font-weight: 700;
            font-style: italic;
            box-shadow: 0 5px 20px rgba(0, 0, 0, .2);
            z-index: 999
        }

        .btn-buy:active, .btn-buy:focus, .btn-buy:hover {
            color: #000;
            box-shadow: 0 0 20px rgba(0, 0, 0, .3);
            transition: all 1s
        }

        .btn-buy .italy {
            font-size: 13px;
            font-style: italic;
            margin-right: 5px;
            color: #fff
        }

        .btn-buy .price {
            position: relative;
            margin-left: 15px;
            color: #82B541
        }

        .btn-buy .price::before, ul.nav-news-most li div::after {
            content: "";
            position: absolute
        }

        .btn-buy .price::before {
            background: rgba(255, 255, 255, .9);
            height: 15px;
            width: 1px;
            left: -7px;
            top: 50%;
            transform: translateY(-50%)
        }

        ul.nav-news-most {
            margin: 0 0 40px;
            display: block
        }

        ul.nav-news-most li.icon {
            list-style: none;
            display: block
        }

        ul.nav-news-most li.icon a {
            color: #6d6e71;
            text-decoration: none
        }

        ul.nav-news-most li.icon a:hover {
            color: #43afc6
        }

        ul.nav-news-most li {
            list-style: none;
            display: block;
            padding: 10px 0
        }

        ul.nav-news-most li a {
            color: #6d6e71;
            font-size: 12pt
        }

        ul.nav-news-most li a:hover {
            color: #43afc6
        }

        ul.nav-news-most li img.news-photo-sm {
            height: 50px;
            width: 50px
        }

        ul.nav-news-most li div::after {
            background: 0 0;
            width: 100%;
            left: 0;
            bottom: -20px
        }

        ul.nav-news-most li div {
            display: block;
            margin-left: 70px;
            position: relative;
            font-size: 9pt
        }

        ul.nav-news-most li img {
            height: 60px;
            width: 60px;
            float: left !important;
            vertical-align: middle
        }

        .nav-menu {
            margin-top: 5px;
            overflow-x: scroll
        }

        .nav-menu .menu-item {
            display: inline-block;
            padding: 0 20px;
            margin-top: 10px;
            margin-bottom: 10px
        }

        .content2 {
            position: relative;
            padding: 0 5px 5px;
            overflow: hidden;
            border-bottom: 5px solid #eee
        }

        .media .titlecontent2, .media .titlecontent5 {
            padding: 0 10px;
            color: #464647;
            font-family: Heebo, sans-serif
        }

        .content2:last-child {
            border-bottom: 0
        }

        .media .titlecontent2 {
            margin: 0 0 10px
        }

        .media .titlecontent5 {
            margin: 0 0 20px;
            text-align: justify
        }

        .media .media-body div.titlecontent21 {
            font-family: Heebo, sans-serif;
            font-size: 14px;
            color: #3f3f3f;
            font-weight: 700;
            text-align: left
        }

        .media .titlecontent2 div.titlecontent21 {
            font-size: 18px;
            color: #3f3f3f;
            font-weight: 700;
            text-align: left
        }

        .media .titlecontent3, .media .titlecontent4 {
            padding: 0 10px;
            font-size: 18px;
            color: #252526;
            font-family: Heebo, sans-serif;
            text-align: left;
            font-weight: 700
        }

        .media .titlecontent3 {
            margin-top: 10px
        }

        .media .titlecontent4 {
            margin-top: 0
        }

        .media .titlecontent2 div {
            padding: 10px 0 0
        }

        .img-home {
            width: 100%;
            height: 230px;
            padding: 10px
        }

        .img-sm {
            width: 40%;
            height: 70px
        }

        .img-slide {
            width: 100%;
            height: 70px;
            padding: 10px
        }

        .kategori, .waktu {
            color: #3f3f3f;
            padding: 0 0 0 10px;
            font-size: 10pt;
            position: relative
        }

        .nama-kategori {
            font-family: Heebo, sans-serif
        }

        .kategori {
            font-weight: 700
        }

        .penulis {
            margin-bottom: 10px;
            padding-left: 10px
        }

        ul.table-view li.nama-kategori {
            margin-top: 25px;
            font-family: Heebo, sans-serif
        }

        ul.table-view li.nama-kategori2 {
            margin-top: 10px;
            font-family: Heebo, sans-serif
        }

        ul.table-view li.nama-kategori3 {
            margin-top: 10px 0 0;
            font-family: Heebo, sans-serif
        }

        .nav-menu .menu-item a {
            text-decoration: none;
            color: #fff;
            margin-bottom: 10px;
            font-family: 'Alegreya Sans', sans-serif;
            margin-left: 5px;
            margin-right: 5px
        }

        .nav-menu .menu-item .aktif, .nav-menu .menu-item a:active {
            border-bottom: 2px solid red
        }

        .post-rekomendasi {
            margin-top: 5px;
            overflow-x: scroll
        }

        .post-rekomendasi a {
            color: gray;
            text-decoration: none
        }

        .post-rekomendasi a:hover {
            color: green
        }

        .post-rekomendasi .post-container {
            display: inline-block;
            padding: 0 20px;
            margin-top: 10px;
            margin-bottom: 10px
        }

        .post-rekomendasi .post-container .post-detail {
            width: 30%;
            float: left;
            height: auto
        }

        .post-rekomendasi .post-container .post-detail .post-text {
            color: #404040;
            line-height: 24px;
            margin: 0;
            text-align: left;
            font-size: 11pt
        }

        .post-rekomendasi .post-container .post-detail .post-text h5 {
            color: #1c1c1c;
            font-family: Heebo, sans-serif;
            font-weight: 700
        }

        .post-rekomendasi .post-container .post-detail .post-text h5 a {
            color: #404040
        }

        .post-rekomendasi .post-container .post-detail .post-text h5 a:hover {
            color: gray
        }

        .post-rekomendasi .post-container .post-detail .post-text a {
            text-decoration: none
        }

        .post-rekomendasi .post-container .post-detail .reaction {
            position: absolute;
            right: 0;
            top: 0
        }

        .post-rekomendasi .post-container .post-detail .post-comment {
            display: inline-flex;
            margin: 10px auto;
            width: 100%
        }

        .post-rekomendasi .post-container .post-detail .post-comment img.profile-photo-sm {
            margin-right: 10px
        }

        .post-rekomendasi .post-container .post-detail .post-comment .form-control {
            height: 30px;
            border: 1px solid #ccc;
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
            margin: 7px 0;
            min-width: 0
        }

    </style>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="panel panel-default" style="margin:10px 0">
                    <div class="panel-heading">
                        <span class="glyphicon glyphicon-stats"></span> STATISTIK UJIAN
                    </div>
                    <div class="panel-body">
                        <div style="float: left;margin-right: 15px"><img src="{{desk.foto}}" style="width: 40px;"/>
                        </div>
                        <div style="float: left;margin-right: 25px">
                            <span style="width: 200px;display: inline-table"><b>JUMLAH SOAL </b> </span>:
                            {{tes.summary.total}}
                            <br/>
                            <span style="width: 200px;display: inline-table"><b>SOAL DIJAWAB </b></span>:
                            {{tes.summary.total_jwb}}
                            <br/>
                            <span style="width: 200px;display: inline-table"><b>SOAL BELUM DIJAWAB </b></span>:
                            {{tes.summary.total_belum_jwb}}
                        </div>
                        <div style="float: left;margin-right: 15px">
                            <span style="width: 130px;display: inline-table"><b>DURASI WAKTU </b></span>: {{tes.durasi}}
                            Menit
                            <br/>
                            <span style="width: 130px;display: inline-table"><b>BATAS WAKTU </b></span>:
                            {{tes.time_selesai * 1000| date:'medium'}}
                            <br/>
                            <span style="width: 130px;display: inline-table"><b>SISA WAKTU </b></span>: <span
                                ng-hide="result.selesai">{{counter_menit| number : 0}} Menit, {{counter_detik| number : 0}} Detik</span>
                            <span ng-show="result.selesai">-</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default" style="margin:10px 0">
                    <div class="panel-heading">
                        <span class="glyphicon glyphicon-user"></span> INFORMASI PESERTA
                    </div>
                    <div class="panel-body">
                        <div>
                            <span style="width: 100px;display: inline-table"><b>NO UJIAN </b></span>:
                            {{session.no_ujian}}
                            <br/>
                            <span style="width: 100px;display: inline-table"><b>NAMA </b></span>: {{session.nama}}
                            <br/>
                            <span style="width: 100px;display: inline-table"><b>Tanggal Lahir </b></span>:
                            {{session.tanggal_lahir| date : 'fullDate'}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default" ng-hide="result.selesai">
            <div class="panel-heading">
                <span class="label label-default" style="padding: 2px 5px;">SOAL NO {{tampil.nomor}}</span> -- <b>{{tampil.nama_materi}}</b>
                <div class="pull-right">
                    <button ng-hide="result.selesai" ng-click="selesai()" class="btn btn-danger"><span
                            class="glyphicon glyphicon glyphicon-check"></span> AKHIRI UJIAN
                    </button>
                </div>
            </div>
            <div class="panel-body">
                <div class="row" style="margin-bottom: 50px">
                    <div class="col-md-12" style="margin-bottom: 5px">
                        <div ng-bind-html="tampil.soal_cerita" class="well well-sm" ng-show="tampil.soal_cerita"></div>
                        <span ng-bind-html="tampil.pertanyaan"></span>
                    </div>


                    <div ng-hide="!tampil.jawaban_a" class="col-md-12" style="margin-bottom: 5px">
                        <label btn-radio="'a'" class="btn btn-default" ng-change="jawab(tampil.id)"
                               ng_model="jawaban_pilih" style="float: left;margin-right: 5px">
                            A
                        </label>
                        <div ng-bind-html="tampil.jawaban_a" style="min-height: 29px;padding-top: 5px"></div>
                        <!--{{tampil.jawaban_a}}-->
                    </div>
                    <div ng-hide="!tampil.jawaban_b" class="col-md-12" style="margin-bottom: 5px">
                        <label btn-radio="'b'" class="btn btn-default" ng-change="jawab(tampil.id)"
                               ng_model="jawaban_pilih" style="float: left;margin-right: 5px">
                            B
                        </label>
                        <div ng-bind-html="tampil.jawaban_b" style="min-height: 29px;padding-top: 5px"></div>
                        <!--{{tampil.jawaban_b}}-->
                    </div>
                    <div ng-hide="!tampil.jawaban_c" class="col-md-12" style="margin-bottom: 5px">
                        <label btn-radio="'c'" class="btn btn-default" ng-change="jawab(tampil.id)"
                               ng_model="jawaban_pilih" style="float: left;margin-right: 5px">
                            C
                        </label>
                        <div ng-bind-html="tampil.jawaban_c" style="min-height: 29px;padding-top: 5px"></div>
                        <!--{{tampil.jawaban_c}}-->
                    </div>
                    <div ng-hide="!tampil.jawaban_d" class="col-md-12" style="margin-bottom: 5px">
                        <label btn-radio="'d'" class="btn btn-default" ng-change="jawab(tampil.id)"
                               ng_model="jawaban_pilih" style="float: left;margin-right: 5px">
                            D
                        </label>
                        <div ng-bind-html="tampil.jawaban_d" style="min-height: 29px;padding-top: 5px"></div>
                        <!--{{tampil.jawaban_d}}-->
                    </div>
                    <div ng-hide="!tampil.jawaban_e" class="col-md-12" style="margin-bottom: 5px">
                        <label btn-radio="'e'" class="btn btn-default" ng-change="jawab(tampil.id)"
                               ng_model="jawaban_pilih" style="float: left;margin-right: 5px">
                            E
                        </label>
                        <div ng-bind-html="tampil.jawaban_e" style="min-height: 29px;padding-top: 5px"></div>
                        <!--{{tampil.jawaban_e}}-->
                    </div>
                    <div ng-show="tampil.cara_penilaian == 2">
                        <textarea ng_model="jawaban_pilih" style="width: 100%"></textarea>
                        <button ng-click="jawab(tampil.id, 'e')" class="btn btn-default">simpan jawaban</button>
                    </div>
                </div>
            </div>
        </div>
        <div style="margin-top: 10px;margin-bottom: 150px" ng-hide="result.selesai">
            <button class="btn btn-primary pull-left" ng-repeat="row in tes_det" ng-click="update(row)"
                    ng-show="row.nomor == tampil.nomor - 1"><i class="glyphicon glyphicon-arrow-left"></i> Sebelumnya
            </button>
            <button class="btn btn-primary pull-right" ng-repeat="row in tes_det" ng-click="update(row)"
                    ng-show="row.nomor - 1 == tampil.nomor">Selanjutnya <i class="glyphicon glyphicon-arrow-right"></i>
            </button>
        </div>

        <div class="" ng-show="result.selesai">
            <div class="panel panel-default">
                <div class="panel-heading text-center" style="font-weight: bold;">
                    {{result.keterangan}}
                </div>
                <div class="panel-body">
                    <table class="table table-striped">
                        <tr>
                            <th colspan="2">HASIL PER MATERI

                            </th>
                        </tr>
                        <tr ng-repeat="val in result.materi">
                            <td style="padding-left:15px">
                                {{val.nama}} -
                                <span ng-if="val.cara_penilaian == 1">Single Answer</span>
                                <span ng-if="val.cara_penilaian == 2">Essay</span>
                            </td>
                            <td width="50" style="text-align: center">{{val.nilai}}</td>
                        </tr>
                        <tr style="background-color: #CCC;">
                            <td style="padding-left:15px"><b>NILAI TOTAL</b></td>
                            <td style="text-align: center"><b>{{result.total_materi}}</b></td>
                        </tr>
                    </table>
                    <!--                    <table class="table table-striped">
                                            <tr>
                                                <th colspan="2">HASIL PER KELOMPOK</th>
                                            </tr>
                                            <tr ng-repeat="val in result.kelompok">
                                                <td style="padding-left:15px">{{val.nama}}</td>
                                                <td width="50" style="text-align: center">{{val.nilai}}</td>
                                            </tr>
                                            <tr style="background-color: #CCC;">
                                                <td style="padding-left:15px"><b>NILAI TOTAL</b></td>
                                                <td style="text-align: center"><b>{{result.total_materi}}</b></td>
                                            </tr>
                                        </table>-->
                    <div class="pull-right">
                        <a class="btn btn-primary" ng-click="logout()">Ujian Lagi</a>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div ng-hide="result.selesai" class="title-head"
         style="margin-bottom: 0;position: fixed;width: 100%;bottom: 0;text-align: center;border-top: solid;margin-bottom: 20px">


        <nav class="navbar navbar-default menu" style="margin-top: 0px;border: none;margin-bottom: -20px">


            <div class="nav-menu">
                <div class="menu-item" style="margin-top: 0px">
                    <button ng-class="{'btn btn-primary': !row.jawaban_pilih , 'btn btn-success': row.jawaban_pilih}"
                            ng-repeat="row in tes_det" ng-click="update(row)">{{row.nomor}}
                    </button>
                </div>

            </div>
        </nav>

        <!--<div class="col-sm-3 col-sm-12">-->

        <!--</div>-->
    </div>
    <!--<button ng-class="{'btn btn-primary': !row.jawaban_pilih , 'btn btn-success': row.jawaban_pilih}" ng-repeat="row in tes_det" ng-click="update(row)">{{row.nomor}}</button>-->
</div>
